:root {
    --white: #fff;
    --black: #000;
    --body-font-color: #292929;
    --font-color: #AAA3A0;
    --shape-border: #E5E5E5;
    --scrollbar-color: #eee;
    --light-border: #DCEEE6;
}
.dark-only{
    --white: #fff;
    --black: #000;
    --body-font-color: #292929;
    --font-color: #AAA3A0;
    --shape-border: #E5E5E5;
    --scrollbar-color: #eee;
    --light-border: #DCEEE6;
}
//color css
$body-color: #F9F7F6;
$primary-color: #308E87;
$secondary-color: #F39159;
$success-color: #308E87;
$info-color: #EA9200;
$warning-color: #FFAA05;
$danger-color: #E74B2B;
$light-color: #AAA3A0;
$primary-light: #EDF6F0;
$footer-icon: #F40000;
$active-bg-color: #D9E8E5;
$font-color: #626262;
$border-color: #EBEBEB;
$light-gray:#ecf3fa;
// typography variables
$body-font: 'Nunito Sans', sans-serif;
$heading_1: 30px;
$heading_2: 24px;
$heading_3: 20px;
$heading_4: 18px;
$heading_5: 16px;
$heading_6: 14px;
$common_letter_spacing: 0.5px;
$border_radius: 24px;
$spacing: 40px;

// header settings
$header-spacing: 15px 36px;

// sidebar settings
$logo-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
$sidebar-width: 253px;
$mobile-sidebar-width: 240px;
$sidebar-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);

// input variables
$input-radius: 30px;
$input-font-size: 14px;
$input-padding: 14px 20px;

// button variables
$btn-hover-shadow: 3px 3px 3px var(--shape-border);

// card settings
$card-box-shadow: 0 0 50px rgba(0, 0, 0, 0.03);
$card-header-bg-color : $white;
$card-padding :17px;
$card-border: 1px solid $light-gray;
// page title
$title-spacing: 30px 18px;
$breadcrumb-icon-shadow: 1px 1px 0px var(--shape-border);
$breadcrumb-icon-radius: 5px;
$page-body-padding : 0 15px 0 15px;
$header-size: 136px;

//avtar color

