// bootstrap js
script(src='../assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js')
script(src='../assets/js/vendors/font-awesome/fontawesome-min.js')

if feather 
  script(src='../assets/js/vendors/feather-icon/feather.min.js')
  script(src='../assets/js/vendors/feather-icon/custom-script.js')
if sidebar  
    script(src='../assets/js/sidebar.js')


if popover 
    // popover 
    script(src="../assets/js/popover.js")

if tooltip 
    // tooltip
    script(src="../assets/js/tooltip.js")
 
if modal
    // modal
    script(src="../assets/js/modal.js")

if alert
    // alert
    script(src="../assets/js/alert.js")

if config
  // chart
  script(src='../assets/js/config.js')
if apex_widget
  script(src='../assets/js/chart/apex-chart/moment.min.js')
if apex
  script(src='../assets/js/chart/apex-chart/apexcharts.js')
  script(src='../assets/js/chart/apex-chart/stock-prices.js')
if apexmoment 
  script(src='../assets/js/chart/apex-chart/moment.min.js')
if page_apex
  script(src='../assets/js/chart/apex-chart/chart-custom.js')

if toasts 
    // toasts
    script(src="../assets/js/toasts-custom.js")

if rating 
    // rating
    script(src="../assets/js/rating-custom.js")
    script(src="../assets/js/Rating-Index.js")

if sweetalert
  // Sweetalert js
  script(src='../assets/js/sweetalert/sweetalert2.min.js')
  script(src='../assets/js/sweetalert/sweetalert-custom.js')

if draggable_page 
    // Draggable js
    script(src='../assets/js/vendors/sortablejs/sortable.min.js')
    script(src='../assets/js/draggable-custom.js')

if jquery_ui
  // jquery-ui
  script(src='../assets/js/dragable/jquery-ui.min.js')

if timeLine
  // timeline 
  script(src='../assets/js/timeline/timeline.js')

if dropzone
  // dropzone
  script(src='../assets/js/dropzone/dropzone.js')
  script(src='../assets/js/dropzone/dropzone-script.js')

if filepond 
  // filepond 
  script(src='../assets/js/filepond/filepond-plugin-image-preview.js')
  script(src='../assets/js/filepond/filepond-plugin-file-rename.js')
  script(src='../assets/js/filepond/filepond-plugin-image-transform.js')
  script(src='../assets/js/filepond/filepond.js')
  script(src='../assets/js/filepond/custom-filepond.js')

if range 
  // range
  script(src='../assets/js/range/rangeslider.nostyle.umd.min.js')
  script(src='../assets/js/range/rangeslider.umd.min.js')
  script(src='../assets/js/range/range-custom.js')

if scrollable
  // Scrollable js
  script(src='../assets/js/vendors/simplebar/dist/simplebar-min.js')
  script(src='../assets/js/scrollbar/scrollbar.js')
if choice
  script(src='../assets/js/vendors/choices.js/public/assets/scripts/choices.js')
  
if slick 
  // slick
  script(src='../assets/js/slick/slick.min.js')
  script(src='../assets/js/slick/slick.js')
  if (landing_slider)
    script(src='../assets/js/landing-slick.js')
  if (header_slider)
    script(src='../assets/js/header-slick.js')
//- if scrollbar
//-   script(src='../assets/js/scrollbar/simplebar.js')
//-   script(src='../assets/js/scrollbar/custom.js')

if tree
    // Tree js
    script(src='../assets/js/tree/tree.js')
    script(src='../assets/js/tree/tree.min.js')
    script(src='../assets/js/tree/tree-custom.js')

if form_validation_custom
  // form validation 
  script(src='../assets/js/form-validation-custom.js')

if input_mask
  // input mask 
  script(src='../assets/js/cleave/cleave.min.js')
  script(src='../assets/js/cleave/custom-cleave.js')

if date_picker
  // date picker
  script(src='../assets/js/datepicker/date-picker/datepicker.js')
  script(src='../assets/js/datepicker/date-picker/datepicker.en.js')
  script(src='../assets/js/datepicker/date-picker/datepicker.custom.js')

if flatpickr
  // flatpicker
  script(src='../assets/js/flat-pickr/flatpickr.js')
  script(src='../assets/js/flat-pickr/custom-flatpickr.js')
if select2_options 
  script(src='../assets/js/vendors/@yaireo/tagify/dist/tagify.js')
  script(src='../assets/js/vendors/@yaireo/tagify/dist/tagify.polyfills.min.js')
  script(src='../assets/js/vendors/intl-tel-input/build/js/intlTelInput.min.js')
  script(src='../assets/js/select2/custom-inputsearch.js')
  script(src='../assets/js/select2/telephone-input.js')
if touchspin_2
  // touchspin 
  script(src='../assets/js/touchspin_2/custom_touchspin.js')

if page_select3 
  script(src='../assets/js/select2/select3-custom.js')

if typeahead
  // typehead 
  script(src='../assets/js/typeahead/typeahead.custom.js')

if clipboard
  // clipboard
  script(src='../assets/js/clipboard/clipboard.min.js')
if page_clipboard
  script(src='../assets/js/clipboard/clipboard-script.js')
  
if form_wizard 
  script(src='../assets/js/form-wizard/image-upload.js')
  script(src='../assets/js/form-wizard/form-wizard.js')

if image_upload 
  // image upload
  script(src='../assets/js/form-wizard/image-upload.js')

if verification_code 
  // verification code
  script(src='../assets/js/form-wizard/verification.js')

if datatables
  // datatables
  script(src='../assets/js/vendors/simple-datatables/dist/umd/simple-datatables.js')

if dashboard_default
  // dashboard default
  script(src='../assets/js/data-table/default.js')

if aos
  // AOS
  script(src='../assets/js/animation/aos/aos.js')
if page_aos
  script(src='../assets/js/animation/aos/aos-init.js')

if macy
  // Macy
  script(src='../assets/js/animation/macy.min.js')
  script(src='../assets/js/animation/macy.js')

if wow
  // WOW
  script(src='../assets/js/animation/wow/wow.min.js')
if page_wow
  script(src='../assets/js/animation/wow/wow-init.js')

if photo_swipe
  // photo swipe 
  script(src='../assets/js/photoswipe/photoswipe.min.js')
  script(src='../assets/js/photoswipe/photoswipe-ui-default.min.js')
  script(src='../assets/js/photoswipe/photoswipe.js')

if iconly_icon 
  // icon
  script(src="../assets/js/icon/iconly.js")

// iconCopy 
//- if iconCopy
//-   script(src='../assets/js/icon-copy.js')

if chartist
  script(src='../assets/js/chart/chartist/chartist.js')
  script(src='../assets/js/chart/chartist/chartist-plugin-tooltip.js')

if page_chartist
  script(src='../assets/js/chart/chartist/chartist-custom.js')

if editors 
  //- editor
  script(src='../assets/js/editors/quill.js')
if editors1 
  script(src='../assets/js/editors/custom-quill.js')
if theme_customizer
  script(src='../assets/js/theme-customizer/customizer.js')

if jquery
  // jquery
  //- script(src="../assets/js/vendors/jquery/jquery.js" )
  script(src="../assets/js/vendors/jquery/jquery.min.js")

// custom script 
script(src='../assets/js/script.js')