// bootstrap js
script(src='../assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/fontawesome.min.js")
if sidebar  
    script(src='../assets/js/sidebar.js')
// custom script 
script(src='../assets/js/script.js')
// popover 
if popover 
    script(src="../assets/js/popover.js")
// tooltip
if tooltip 
    script(src="../assets/js/tooltip.js")
// modal validation
if form_validation_custom
  script(src='../assets/js/form-validation-custom.js')
// modal 
if modal 
    script(src="../assets/js/modal.js")