// bootstrap js
script(src='../assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js')
if sidebar  
    script(src='../assets/js/sidebar.js')
// custom script 
script(src='../assets/js/script.js')