// bootstrap js
script(src='../assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/fontawesome.min.js")
if sidebar  
    script(src='../assets/js/sidebar.js')
// custom script 
script(src='../assets/js/script.js')
// popover 
if popover 
    script(src="../assets/js/popover.js")
// tooltip
if tooltip 
    script(src="../assets/js/tooltip.js")
// modal validation
if form_validation_custom
  script(src='../assets/js/form-validation-custom.js') 
// modal 
if modal 
    script(src="../assets/js/modal.js")
// alert
if alert 
    script(src="../assets/js/alert.js")
if toasts 
    script(src="../assets/js/toasts-custom.js")
if rating 
    //- script(src="../assests/js/rating-js.js")
    script(src="../assets/js/rating-custom.js")
    script(src="../assets/js/Rating-Index.js")
//- jquery
script(src="https://code.jquery.com/jquery-3.6.4.js" )
//- script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.js")
if sweetalert2
  script(src='../assets/js/sweet-alert/sweetalert.min.js')
if page_sweetalert2
  script(src='../assets/js/sweet-alert/app.js')
if dragable
  script(src='../assets/js/dragable/sortable.js')
  script(src='../assets/js/dragable/sortable-custom.js')
if jquery_ui
  script(src='../assets/js/dragable/jquery-ui.min.js')
if timeLine
  script(src='../assets/js/timeline/timeline.js')
if dropzone
  script(src='../assets/js/dropzone/dropzone.js')
  script(src='../assets/js/dropzone/dropzone-script.js')
if filepond 
  script(src='../assets/js/filepond/filepond-plugin-image-preview.js')
  script(src='../assets/js/filepond/filepond-plugin-file-rename.js')
  script(src='../assets/js/filepond/filepond-plugin-image-transform.js')
  script(src='../assets/js/filepond/filepond.js')
  script(src='../assets/js/filepond/custom-filepond.js')
if range 
  script(src='../assets/js/range/rangeslider.nostyle.umd.min.js')
  script(src='../assets/js/range/rangeslider.umd.min.js')
  script(src='../assets/js/range/range-custom.js')
if scrollable
  script(src='../assets/js/scrollable/perfect-scrollbar.min.js')
  script(src='../assets/js/scrollable/scrollable-custom.js')
if slick 
  script(src='../assets/js/slick/slick.min.js')
  script(src='../assets/js/slick/slick.js')
  if (landing_slider)
    script(src='../assets/js/landing-slick.js')
  if (header_slider)
    script(src='../assets/js/header-slick.js')
//- if scrollbar
//-   script(src='../assets/js/scrollbar/simplebar.js')
//-   script(src='../assets/js/scrollbar/custom.js')
if tree 
  script(src='../assets/js/tree/jstree.min.js')
  script(src='../assets/js/tree/tree.min.js')
  script(src='../assets/js/tree/tree.js')
if form_validation_custom
  script(src='../assets/js/form-validation-custom.js')
if input_mask 
  script(src='../assets/js/cleave/cleave.min.js')
  script(src='../assets/js/cleave/custom-cleave.js')
if date_picker
  script(src='../assets/js/datepicker/date-picker/datepicker.js')
  script(src='../assets/js/datepicker/date-picker/datepicker.en.js')
  script(src='../assets/js/datepicker/date-picker/datepicker.custom.js')
if flatpickr 
  script(src='../assets/js/flat-pickr/flatpickr.js')
  script(src='../assets/js/flat-pickr/custom-flatpickr.js')
if touchspin_2 
  script(src='../assets/js/touchspin_2/custom_touchspin.js')
if select2_options 
  script(src='../assets/js/select2/tagify.js')
  script(src='../assets/js/select2/tagify.polyfills.min.js')
  script(src='../assets/js/select2/intltelinput.min.js')
  script(src='../assets/js/select2/telephone-input.js')
  script(src='../assets/js/select2/custom-inputsearch.js')
//- if page_select2
//-   script(src='../assets/js/select2/select2-custom.js')
if typeahead
  script(src='../assets/js/typeahead/handlebars.js')
  script(src='../assets/js/typeahead/typeahead.bundle.js')
  script(src='../assets/js/typeahead/typeahead.custom.js')
if clipboard
  script(src='../assets/js/clipboard/clipboard.min.js')
if page_clipboard
  script(src='../assets/js/clipboard/clipboard-script.js')
if form_wizard
  script(src='../assets/js/form-wizard/form-wizard-five.js')
  script(src='../assets/js/form-wizard/form-wizard.js')
  script(src='../assets/js/form-wizard/verification.js')
if image_upload 
  script(src='../assets/js/form-wizard/image-upload.js')