head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0') 
    meta(name='description', content='Cuba admin is super flexible, powerful, clean & modern responsive bootstrap 5 admin template with unlimited possibilities.')
    meta(name='keywords' content='admin template, Admiro admin template, best javascript admin, dashboard template, bootstrap admin template, responsive admin template, web app')
    meta(name='author' content='pixelstrap')
    title Admiro - best javascript admin
    // Favicon icon
    link(rel='icon' href='../assets/images/favicon.png' type='image/x-icon')
    link(rel='shortcut icon' href='../assets/images/favicon.png' type='image/x-icon')
    // Google font
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap' rel='stylesheet')
    // Iconly icon css
    link(rel="icon" href='../assets/svg/iconly-sprite.svg') 
    // Flag icon css 
    link(rel='stylesheet' href='../assets/css/vendors/flag-icon.css')
    // Timeline css 
    link(rel='stylesheet' href='../assets/css/vendors/timeline/timeline.css')
    // iconly-icon
    link(rel="stylesheet" href='../assets/css/iconly-icon.css')
    link(rel="stylesheet" href='../assets/css/bulk-style.css')
    //fontawesome
    link(rel="stylesheet", href="../assets/css/fontawesome-min.css")
    if sweetalert2
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/sweetalert2.css')
    if dropzone
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/dropzone.css')
    if filepond
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/filepond.css')
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/filepond-plugin-image-preview.css')
    if range
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/range.css')
    if scrollbar        
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/scrollbar.css') 
    if scrollable
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/scrollable.css')
    if tree
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/tree.css')
    if flatpickr 
        link(rel="stylesheet",  type='text/css' href='../assets/css/vendors/flatpickr/flatpickr.min.css')
    if select2_options 
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/intltelinput.min.css')
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/tagify.css')
    if (datatables)
       // Data Table css
       link(rel='stylesheet'  type='text/css', href='../assets/css/vendors/simple-datatables/dist/style.css')
    if aos
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/aos.css')
    if photo_swipe
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/photoswipe.css')
    if wow
        link(rel='stylesheet', type='text/css', href='../assets/css/vendors/animate.css') 
    // App css 
    link(rel='stylesheet' href='../assets/css/style.css') 