// Page sidebar start
.overlay
aside.page-sidebar
    .logo-wrapper.d-flex.align-items-center 
        a(href="index.html")
            img(src="../assets/images/logo/logo1.png" alt="logo")
        a.close-btn.sidebar-close.d-lg-none(href="javascript:void(0)")
            +IconlySprite('Arrow---Left-2', 'svg-color svg-white')   
    .user-wrap
        .user-img
            img(src="../assets/images/profile.png" alt="user") 
            .setting-icon
                i.iconly-Setting.icli   
        .user-content
            h5 Amirreza Baqian
            h6 Product Designer
    div.main-sidebar
        ul.sidebar-menu
            li.pin-title.sidebar-main-title
                div 
                    h6.sidebar-title Pinned
            li.sidebar-main-title
                div
                    h6.sidebar-title General
            li.sidebar-list
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)") 
                    i.iconly-Home.icli
                    h6 Dashboards
                    span.badge 2
                    i.iconly-Arrow-Right-2.icli
                ul.sidebar-submenu
                    li 
                        a(href="index.html") Default
                    li
                        a(href="javascript:void(0)") Ecommerce 
                    li 
                        a(href="alert.html") Default
            li.sidebar-list 
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Graph.icli
                    h6 Widgets 
            li.sidebar-list 
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Paper.icli
                    h6 Page layout
        
            li.sidebar-main-title
                div
                    h6.sidebar-title Components 
            li.sidebar-list
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Folder.icli
                    h6 Ui Kits
                    i.iconly-Arrow-Right-2.icli 
                ul.sidebar-submenu
                    li 
                        a(href="typography.html") Typography
                    li
                        a(href="avatars.html") Avatars
                    li 
                        a(href="helper-classes.html") Helper-classes
                    li 
                        a(href="grid.html") Grid
                    li 
                        a(href="according.html") According
                    li 
                        a(href="tag-pills.html") Tag-pills
                    li  
                        a(href="modal.html") Modal 
                    li 
                        a(href="popover.html") Popover 
                    li  
                        a(href="progress-bar.html") Progress-bar
                    li 
                        a(href="tab-bootstrap.html") tab-bootstrap
                    li 
                        a(href="tooltip.html") Tooltip
            li.sidebar-list
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Ticket-Star.icli
                    h6 Bonus Ui
                    i.iconly-Arrow-Right-2.icli
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Edit-Square.icli
                    h6 Builders
                    i.iconly-Arrow-Right-2.icli
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Category.icli
                    h6 Animation 
                    i.iconly-Arrow-Right-2.icli
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Activity.icli 
                    h6 Icon
                    i.iconly-Arrow-Right-2.icli
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-More-Square.icli 
                    h6 Buttons
                    i.iconly-Arrow-Right-2.icli 
                ul.sidebar-submenu
                    li
                        a(href="buttons.html") buttons    
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Chart.icli
                    h6 Charts
                    i.iconly-Arrow-Right-2.icli

// Page sidebar end