// Page sidebar start
.overlay
aside.page-sidebar
    .logo-wrapper.d-flex.align-items-center 
        a(href="index.html")
            img(src="../assets/images/logo/logo1.png" alt="logo")
        a.close-btn.sidebar-close.d-lg-none(href="javascript:void(0)")
            +IconlySprite('Arrow---Left-2', 'svg-color svg-white')   
    .user-wrap
        .user-img
            img(src="../assets/images/profile.png" alt="user") 
            .setting-icon
                i.iconly-Setting.icli   
        .user-content
            h5.pb-1 Amirreza Baqian
            h6 Product Designer
    div.main-sidebar
        ul.sidebar-menu
            li.pin-title.sidebar-main-title    
                div 
                    h6.sidebar-title Pinned
            li.sidebar-main-title
                div
                    h5.f-w-700.sidebar-title General
            li.sidebar-list
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)") 
                    i.iconly-Home.icli   
                    h6 Dashboards
                    span.badge 2
                    i.iconly-Arrow-Right-2.icli
                ul.sidebar-submenu
                    li 
                        a(href="index.html") Default
                    li
                        a(href="javascript:void(0)") Ecommerce 
                    li 
                        a(href="alert.html") Default
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Graph.icli
                    h6 Widgets 
                    i.iconly-Arrow-Right-2.icli
            li.sidebar-list
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Paper.icli
                    h6 Page layout
                    i.iconly-Arrow-Right-2.icli                                                
            li.sidebar-main-title
                div
                    h5.f-w-700.sidebar-title.pt-3 Components
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Folder.icli
                    h6.f-w-600 Ui Kits
                    i.iconly-Arrow-Right-2.icli 
                ul.sidebar-submenu
                    li 
                        a(href="typography.html") Typography
                    li
                        a(href="avatars.html") Avatars
                    li 
                        a(href="helper-classes.html") Helper classes
                    li 
                        a(href="grid.html") Grid
                    li 
                        a(href="accordion.html") Accordion
                    li 
                        a(href="tag-pills.html") Tag pills
                    li  
                        a(href="modal.html") Modal 
                    li 
                        a(href="popover.html") Popover 
                    li  
                        a(href="progress-bar.html") Progress bar
                    li 
                        a(href="tab-bootstrap.html") Tab bootstrap
                    li 
                        a(href="tooltip.html") Tooltip
                    li  
                        a(href="dropdown.html")  Dropdown
                    
                    

            li.sidebar-list
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Ticket-Star.icli
                    h6.f-w-600 Bonus Ui
                    i.iconly-Arrow-Right-2.icli
                ul.sidebar-submenu  
                    li
                        a(href='scrollable.html') Scrollable
                    li 
                        a(href='breadcrumb.html') Breadcrumb
                    li
                        a(href='pagination.html') Pagination
                    li
                        a(href='toasts.html') Toasts 
                    li 
                        a(href='ribbons.html') Ribbons 
                    li 
                        a(href='rating.html') Rating
                    li 
                        a(href="dropzone.html") Dropzone
                    li 
                        a(href="sweetalert2.html") Sweetalert2 
                    li 
                        a(href="switch.html") Switch 
                    li 
                        a(href="range-slider.html") Range slider
                    li 
                        a(href="timeline.html") Timeline
                    li 
                        a(href="touchspin.html") Touchspin
                    li 
                        a(href="tree.html") Tree view 
                    li 
                        a(href="typehead.html") Typehead   
                    li 
                        a(href="dragable-card.html") Dragable Card 

            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Category.icli
                    h6.f-w-600 Animation 
                    i.iconly-Arrow-Right-2.icli
                ul.sidebar-submenu  
                    li   
                        a(href='AOS.html') AOS 
                    li   
                        a(href='WOW.html') WOW 
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Activity.icli 
                    h6.f-w-600 Icon
                    i.iconly-Arrow-Right-2.icli
                ul.sidebar-submenu  
                    li
                        a(href='font-awesome.html') Fontawesome icon
                    li
                        a(href='feathericon.html') feather icon
                    li 
                        a(href='iconly-icon.html') Iconly icon 
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-More-Square.icli 
                    h6.f-w-600 Buttons
                    i.iconly-Arrow-Right-2.icli
                ul.sidebar-submenu
                    li
                        a(href="buttons.html") buttons    
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Chart.icli
                    h6.f-w-600 Charts
                    i.iconly-Arrow-Right-2.icli
                ul.sidebar-submenu
                    li 
                        a(href='apex_chart.html') Apex charts
                    li 
                        a(href='chartist_chart.html') Chartist chart 
            li.sidebar-main-title
                div
                    h5.sidebar-title.pt-3.f-w-700 Miscellaneous
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Image.icli
                    h6.f-w-600 Gallery  
                    i.iconly-Arrow-Right-2.icli
                ul.sidebar-submenu
                    li 
                        a(href='masonary.html') Masonary Gallery
                    li 
                        a(href='mesonary_with_disc.html') Masonary With Desc
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Folder.icli
                    h6.f-w-600 Blog  
                    i.iconly-Arrow-Right-2.icli
                ul.sidebar-submenu
                    li 
                        a(href='blog.html') Blog Details
                    li 
                        a(href='blog-single.html') Blog Single
                    li
                        a(href='add_post.html') Add Post
            li.sidebar-list
                a.sidebar-links(href='faq.html') 
                    i.iconly-Info-Circle.icli
                    h6.f-w-600 FAQ
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Work.icli
                    h6.f-w-600 Job Search  
                    i.iconly-Arrow-Right-2.icli
                ul.sidebar-submenu
                    li 
                        a(href='job-cards-view.html') Card view
                    li 
                        a(href='job-details.html') List view
                    li
                        a(href='job-list-view.html') Job details   
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Document.icli
                    h6.f-w-600 Learning
                    i.iconly-Arrow-Right-2.icli
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Location.icli
                    h6.f-w-600 Maps
                    i.iconly-Arrow-Right-2.icli
            li.sidebar-list 
                i.fa-solid.fa-thumbtack
                a.sidebar-links(href="javascript:void(0)")
                    i.iconly-Edit.icli
                    h6.f-w-600 Editors
                    i.iconly-Arrow-Right-2.icli

                    
        
            
// Page sidebar end