// Page sidebar start
.overlay
aside.page-sidebar
    .logo-wrapper.d-flex.align-items-center 
        a(href="index.html")
            img(src="../assets/images/logo/logo1.png" alt="logo")
        a.close-btn.toggle-sidebar(href="javascript:void(0)")
            +IconlySprite('Arrow---Left-2', 'svg-color svg-white')
    .user-wrap
        .user-img
            img(src="../assets/images/profile.png" alt="user") 
            .setting-icon
                i.iconly-Setting.icli   
        .user-content
            h5 Amirreza Baqian
            h6 Product Designer
    ul.sidebaar-menu
        li.sidebar-block   
            h5.sidebar-title General
            ul 
                li.sidebar-list
                    a.sidebar-links.active(href="#") 
                        i.iconly-Home.icli
                        h6 Dashboards
                        span.badge 2
                    //- ul.submenu
                    //-     li 
                    //-         a(href="#") Default
                    //-     li
                    //-         a(href="#") Ecommerce
                    //-     li 
                    //-         a(href="#") Default
                li.sidebar-list 
                    a.sidebar-links(href="#")
                        i.iconly-Graph.icli
                        h6 Widgets 
                        i.iconly-Arrow-Right-2.icli
                li.sidebar-list 
                    a.sidebar-links(href="#")
                        i.iconly-Paper.icli
                        h6 Page layout
                        i.iconly-Arrow-Right-2.icli
    ul.sidebaar-menu
        li.sidebar-block
            h5.sidebar-title Components
            ul 
                li.sidebar-list
                    a.sidebar-links(href="#")
                        i.iconly-Folder.icli
                        h6 Ui Kits
                        i.iconly-Arrow-Right-2.icli
                li.sidebar-list
                    a.sidebar-links(href="#")
                        i.iconly-Ticket-Star.icli
                        h6 Bonus Ui
                        i.iconly-Arrow-Right-2.icli
                li.sidebar-list 
                    a.sidebar-links(href="#")
                        i.iconly-Edit-Square.icli
                        h6 Builders
                        i.iconly-Arrow-Right-2.icli
                li.sidebar-list 
                    a.sidebar-links(href="#")
                        i.iconly-Category.icli
                        h6 Animation 
                        i.iconly-Arrow-Right-2.icli
                li.sidebar-list 
                    a.sidebar-links(href="#")
                        i.iconly-Activity.icli 
                        h6 Icon
                        i.iconly-Arrow-Right-2.icli
                li.sidebar-list 
                    a.sidebar-links(href="#")
                        i.iconly-More-Square.icli 
                        h6 Buttons
                        i.iconly-Arrow-Right-2.icli
                li.sidebar-list 
                    a.sidebar-links(href="#")
                        i.iconly-Chart.icli
                        h6 Charts
                        i.iconly-Arrow-Right-2.icli
// Page sidebar end