/**=====================
     Reset css start
==========================**/
/*====== Font-weight css starts ======*/
$i: 100, 300, 500, 400, 600, 700, 900;
@each $val in $i {
  .f-w-#{$val} {
    font-weight: $val;
  }
}
/*====== Font-weight css ends ======*/
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgba(var(--scrollbar-color),1) rgba(var(--white),1);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(var(--white),1);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(var(--scrollbar-color),1);
    border-radius: 10px;
  }

.text-primary{
  color: rgba(var(--primary-color),1) !important;
}
.text-secondary {
  color: rgba(var(--secondary-color),1) !important;
}
.badge-primary{
  background-color: rgba(var(--primary-color),1);
}
.custom-scroll {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(var(--gray-200),1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 3px;
    border: 1px solid rgba(var(--light-gray),1); 
  }
}
.list-circle {
  list-style: circle;
}
/**=====================
     Reset css end
==========================**/