/**=====================
     Reset css start
==========================**/
/*====== Font-weight css starts ======*/
$i: 100, 300, 500, 400, 600, 700, 900;
@each $val in $i {
  .f-w-#{$val} {
    font-weight: $val;
  }
}
/*====== Font-weight css ends ======*/
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar-color) rgba(var(--white),1);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: rgbavar(--white);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 10px;
  }

.text-primary{
  color: rgba(var(--primary-color),1) !important;
}
/**=====================
     Reset css end
==========================**/