/**=====================
     typography css start
==========================**/
body {
    font-family: $body-font;
    font-size: 14px;
    color: rgba(var(--body-font-color),1);
}
html, body {
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
h1 {
    font-size: $heading_1;
    font-weight: 700;
}
h2 {
    font-size: $heading_2;
    font-weight: 700;
    letter-spacing: $common_letter_spacing;
}
h3 {
    font-size: $heading_3;
    font-weight: 700;
    letter-spacing: $common_letter_spacing;
}
h4 {
    font-size: $heading_4;
    font-weight: 800;
    letter-spacing: 1px;
}
h5 {
   font-size: $heading_5;
   font-weight: 400;
   line-height: 1.4;
   letter-spacing: $common_letter_spacing; 
   @include media-breakpoint-down(sm) {
    font-size: 15px;
   }
}
h6 {
   font-size: $heading_6;
   font-weight: 500;
   line-height: 1;
   letter-spacing: $common_letter_spacing; 
}
a {
    font-size: 14px;
    text-decoration: none;
    color: rgba(var(--body-font-color),1);
    transition: 0.5s all;
    &:hover {
        color: rgba(var(--primary-color),1);
        transition: 0.5s all;
    }
    &:focus-visible {
        outline: none;
    }
}
// p{
//     margin-bottom: unset;
// }
blockquote {
    border-left: 4px solid rgba(var(--primary-color),1);
    padding: 18px;
}
.figure {
    &.text-center {
        blockquote {
            border: none !important;
        }

    }

    &.text-end {
        blockquote {
            border-left: none !important;
            border-right: 4px solid rgba(var(--primary-color),1);
        }
    }
}
.svg-color {
    width: 24px;
    height: 24px;
    stroke: rgba(var(--body-font-color),1);
}
.svg-white{
    stroke: rgba(var(--white),1);
}
span {
    display: inline-block;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.card-wrapper {
    padding: 14px;

    dl {
        dt {
            font-weight: 500;
        }
    }
}
// common flex property
.common-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/**=====================
     typography css end
==========================**/