-var sidebar    = true;
include ../../components/mixin

doctype html
html(lang='en')
    include ../../components/header-files
    body
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h2
                                        | According
                                .col-6
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                            a(href='index.html')     
                                                i.iconly-Home.icli
                                        li.breadcrumb-item Ui Kits
                                        li.breadcrumb-item.active According
                    // Container-fluid starts
                    .container-fluid
                        .row.g-3
                            .col-sm-12.col-xl-6
                                .card 
                                    .card-header
                                        h3 Simple Accordion
                                        p.f-m-light.mt-1.mb-0.mb-0
                                            | Using the 
                                            code .accordion   
                                            | class to expand/collapse to accordion content.
                                    .card-body  
                                        #simpleaccordion.accordion.dark-accordion
                                            .accordion-item
                                                h2#headingOne.accordion-header
                                                    button.accordion-button.collapsed.accordion-light-primary.text-primary.active(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                                        | What do web designers do?
                                                        i.iconly-Arrow-Down-2.icli.ms-auto
                                                #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#simpleaccordion')    
                                                    .accordion-body
                                                        p
                                                            | Web design
                                                            em.text-danger  identifies the goals
                                                            |  of a website or webpage and promotes accessibility for all potential users. This process involves organizing content and images across a series of pages and integrating applications and other interactive elements.    
                                            .accordion-item.accordion-wrapper
                                                h2#headingTwo.accordion-header
                                                    button.accordion-button.collapsed.accordion-light-primary.text-primary(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='left-collapseTwo')
                                                        | What is the use of web design?   
                                                        i.iconly-Arrow-Down-2.icli.ms-auto
                                                #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#simpleaccordion')
                                                    .accordion-body
                                                        p
                                                            strong  Search engine optimization:
                                                            |  Search engine optimization (SEO) is a method for improving the chances for a website to be found by search engines. Web design codes information in a way that search engines can read it. It can boost business because the site shows up on the top search result pages, helping people to find it.
                                                            br
                                                            br     
                                                            strong  Mobile responsiveness:
                                                            |  Mobile responsiveness is the feature of a website that allows it to display on a mobile device and adapt its layout and proportions to be legible. Web design ensures sites are easy to view and navigate from mobile devices. When a website is well-designed and mobile-responsive, customers can reach the business with ease.
                                                            br
                                                            br
                                                            strong  Improved sales:
                                                            | Increasing the number of items sold or acquiring more active customers are objectives of a compelling website. As web design reaches targeted customers and search engines, it helps the business make conversions on their site and improve its sales.
                                            .accordion-item.accordion-wrapper
                                                h2#headingThree.accordion-header
                                                    button.accordion-button.collapsed.accordion-light-primary.text-primary(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='left-collapseThree')
                                                        | What are the elements of web design?
                                                        i.iconly-Arrow-Down-2.icli.ms-auto 
                                                #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#simpleaccordion')
                                                    .accordion-body
                                                        p
                                                            | The web design process allows designers to adjust to any preferences and provide effective solutions. There are many standard components of every web design, including:
                                                            br
                                                            |--> Layout
                                                            br
                                                            |--> Images
                                                            br
                                                            |--> Visual hierarchy
                                                            br
                                                            |--> Color scheme
                                                            br
                                                            |--> Typography
                                                            br
                                                            |--> Navigation
                                                            br
                                                            |--> Readability
                                                            br
                                                            |--> Content
                            .col-sm-12.col-xl-6
                                .card
                                    .card-header
                                        h3 Flush Accordion  
                                        p.f-m-light.mt-1.mb-0
                                            | Add  
                                            code .accordion-flush
                                            |  to remove the default background-color, border, etc.
                                    .card-body 
                                        #accordionFlushExample.accordion.accordion-flush.dark-accordion
                                            .accordion-item
                                                h2#flush-headingOne.accordion-header
                                                    button.accordion-button.collapsed.text-success.accordion-light-success.active(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                                                        | What is bootstrap?
                                                #flush-collapseOne.accordion-collapse.collapse.show(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                                                    .accordion-body
                                                        p
                                                            | --> Bootstrap is the most popular HTML, CSS and JavaScript framework for developing a responsive and mobile friendly website.
                                                            br
                                                            | --> It is absolutely free to download and use.  
                                            .accordion-item
                                                h2#flush-headingTwo.accordion-header
                                                    button.accordion-button.collapsed.text-success.accordion-light-success(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                                        | Why Should You Use Bootstrap?      
                                                #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                                                    .accordion-body
                                                        p
                                                            | First and foremost, Bootstrap is easy to learn. Due to its popularity, plenty of tutorials and online forums are available to help you get started.
                                                            br
                                                            | One of the reasons why Bootstrap is so popular among web developers and web designers is that it has a simple file structure. Its files are compiled for easy access, and it only requires basic knowledge of HTML, CSS, and JS to modify them.
                                                            br  
                                                            | You can also use themes for popular content management systems as learning tools. For example, most WordPress themes were developed using Bootstrap, which any beginner web developer can access. 
                                                            br
                                                            | To increase the site's page load time, Bootstrap minifies the CSS and JavaScript files. Additionally, Bootstrap maintains consistency across the syntax between websites and developers, which is ideal for team-based projects.                      
                                            .accordion-item
                                                h2#flush-headingThree.accordion-header
                                                    button.accordion-button.collapsed.text-success.accordion-light-success(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseThree' aria-expanded='false' aria-controls='flush-collapseThree')
                                                        | Bootstrap Image System
                                                #flush-collapseThree.accordion-collapse.collapse(aria-labelledby='flush-headingThree' data-bs-parent='#accordionFlushExample')
                                                    .accordion-body
                                                        p
                                                            | Bootstrap handles the image display and responsiveness with its predefined HTML and CSS rules.
                                                            br
                                                            | Adding the .img-responsive class will automatically resize images based on the users' screen size. This will benefit your website’s performance, as reducing image sizes is part of the site optimization process.
                                                            br
                                                            | Bootstrap also provides additional classes like .img-circle and .img-rounded, which help to modify the images' shape.
                            .col-sm-12
                                .card
                                    .card-header
                                        h3 Multiple Collapse Accordion
                                        p.f-m-light.mt-1.mb-0
                                            | Use 
                                            code  href 
                                            |   on  
                                            code data-bs-toggle attribute
                                            |  to show and hide multiple elements.
                                    .card-body 
                                        .common-flex
                                            a.btn.btn-primary(data-bs-toggle='collapse' href='#multiCollapseExample1' role='button' aria-expanded='false' aria-controls='multiCollapseExample1') Toggle first element
                                            button.btn.btn-warning.text-white(type='button' data-bs-toggle='collapse' data-bs-target='#multiCollapseExample2' aria-expanded='false' aria-controls='multiCollapseExample2') Toggle second element
                                            button.btn.btn-success(type='button' data-bs-toggle='collapse' data-bs-target='.multi-collapse' aria-expanded='false' aria-controls='multiCollapseExample1 multiCollapseExample2') Toggle both elements
                                        .row.d-flex
                                            .col-xl-6
                                                #multiCollapseExample1.collapse.multi-collapse
                                                    .card.card-body.mt-3.mb-0.collapse-wrapper.accordion-light-primary
                                                        | The collapse JavaScript plugin is used to show and hide content. Buttons or anchors are used as triggers that are mapped to specific elements you toggle. Collapsing an element will animate the height from it's current value to 0. Given how CSS handles animations, you cannot use padding on a .collapse element. Instead, use the class as an independent wrapping element.
                                            .col-xl-6
                                                #multiCollapseExample2.collapse.multi-collapse
                                                    .card.card-body.mt-3.mb-0.collapse-wrapper.accordion-light-warning
                                                        | This is the first item's accordion body. It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.
                            .col-xl-6.col-sm-12
                                .card
                                    .card-header
                                        h3 With Icons Accordion      
                                        p.f-m-light.mt-1.mb-0 
                                            | Use 
                                            code icons 
                                            | with 
                                            code .accordion  
                                            |  to give better look.
                                    .card-body.accordion-border
                                        #accordionPanelsStayOpenExample.accordion
                                            .accordion-item
                                                h2#panelsStayOpen-headingOne.accordion-header           
                                                    button.accordion-button.collapsed.gap-2.accordion-light-secondary.active.text-secondary(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseOne' aria-expanded='false' aria-controls='panelsStayOpen-collapseOne')
                                                        i.fa-regular.fa-bell   
                                                        | Keep in touch         
                                                        i.iconly-Arrow-Down-2.icli.ms-auto
                                                #panelsStayOpen-collapseOne.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingOne')
                                                    .accordion-body
                                                        p       
                                                            em.text-danger  " This page might not behave as expected because Windows Internet Explorer isn't configured to load unsigned ActiveX controls."
                                                            |  or "Allow this page to install an unsigned ActiveX Control? Doing so from untrusted sources may harm your computer." (Both phrased as conditions that may cause future problems.)
                                            .accordion-item
                                                h2#panelsStayOpen-headingTwo.accordion-header
                                                    button.accordion-button.collapsed.gap-2.accordion-light-secondary.active.text-secondary(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseTwo' aria-expanded='false' aria-controls='panelsStayOpen-collapseTwo')
                                                        i.fa-regular.fa-comment     
                                                        | Chats with others
                                                        i.iconly-Arrow-Down-2.icli.ms-auto
                                                #panelsStayOpen-collapseTwo.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingTwo')
                                                    .accordion-body
                                                        p
                                                            | You get the same features in Chat and Chat in Gmail, but the integrated Gmail experience provides a central location to communicate with friends, family, or coworkers between emails.
                                                            br
                                                            strong  Chat:
                                                            |  Use when you prefer a dedicated chat experience and don't mind switching between different apps.
                                            .accordion-item
                                                h2#panelsStayOpen-headingThree.accordion-header
                                                    button.accordion-button.collapsed.gap-2.accordion-light-secondary.active.text-secondary(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseThree' aria-expanded='false' aria-controls='panelsStayOpen-collapseThree')
                                                        i.fa-regular.fa-square-check
                                                        | Right way to code 
                                                        i.iconly-Arrow-Down-2.icli.ms-auto
                                                #panelsStayOpen-collapseThree.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingThree')
                                                    .accordion-body
                                                        p
                                                            | 1) Decide on the indentation and keep it that way.    
                                                            br
                                                            | 2) Make comments.
                                                            br
                                                            | 3) Consistent name scheme.    
                                                            br
                                                            | 4) Don't repeat code.
                                                            br
                                                            | 5) Avoid writing long code lines.
                                                            br
                                                            | 6) Break down a big task into smaller chunks.
                                                            br
                                                            | 7) Organize your program into smaller files.
                                                            br
                                                            | 8) Write clever code that is also readable.
                            .col-xl-6.col-sm-12
                                .card
                                    .card-header
                                        h3 Left Side Bordered Accordion 
                                        p.f-m-light.mt-1.mb-0   
                                            | Set border outline with accordion using 
                                            code .accordion-wrapper
                                            |  class.
                                    .card-body 
                                        #outlineaccordion.accordion.dark-accordion
                                            .accordion-item.accordion-wrapper.accordion-left-border   
                                                h2#outlineaccordionone.accordion-header
                                                    button.accordion-button.collapsed.accordion-light-primary.text-primary(type='button' data-bs-toggle='collapse' data-bs-target='#left-collapseOne' aria-expanded='true' aria-controls='left-collapseOne')
                                                        | What do web designers do?
                                                        i.iconly-Arrow-Down-2.icli.ms-auto
                                                #left-collapseOne.accordion-collapse.collapse(aria-labelledby='outlineaccordionone' data-bs-parent='#outlineaccordion')
                                                    .accordion-body
                                                        p
                                                            | Web design
                                                            em.text-danger  identifies the goals
                                                            |  of a website or webpage and promotes accessibility for all potential users. This process involves organizing content and images across a series of pages and integrating applications and other interactive elements.
                                            .accordion-item.accordion-wrapper.accordion-left-border
                                                h2#outlineaccordiontwo.accordion-header
                                                    button.accordion-button.collapsed.accordion-light-primary.text-primary(type='button' data-bs-toggle='collapse' data-bs-target='#left-collapseTwo' aria-expanded='false' aria-controls='left-collapseTwo')
                                                        | What is the use of web design?
                                                        i.iconly-Arrow-Down-2.icli.ms-auto
                                                #left-collapseTwo.accordion-collapse.collapse(aria-labelledby='outlineaccordiontwo' data-bs-parent='#outlineaccordion')
                                                    .accordion-body     
                                                        p
                                                            strong  Search engine optimization: 
                                                            |  Search engine optimization (SEO) is a method for improving the chances for a website to be found by search engines. Web design codes information in a way that search engines can read it. It can boost business because the site shows up on the top search result pages, helping people to find it.
                                                            br
                                                            br
                                                            strong  Mobile responsiveness:
                                                            |  Mobile responsiveness is the feature of a website that allows it to display on a mobile device and adapt its layout and proportions to be legible. Web design ensures sites are easy to view and navigate from mobile devices. When a website is well-designed and mobile-responsive, customers can reach the business with ease.
                                                            br
                                                            br
                                                            strong  Improved sales:
                                                            | Increasing the number of items sold or acquiring more active customers are objectives of a compelling website. As web design reaches targeted customers and search engines, it helps the business make conversions on their site and improve its sales.
                                            .accordion-item.accordion-wrapper.accordion-left-border
                                                h2#outlineaccordionthree.accordion-header
                                                    button.accordion-button.collapsed.accordion-light-primary.text-primary(type='button' data-bs-toggle='collapse' data-bs-target='#left-collapseThree' aria-expanded='false' aria-controls='left-collapseThree')
                                                        | What are the elements of web design?
                                                        i.iconly-Arrow-Down-2.icli.ms-auto  
                                                #left-collapseThree.accordion-collapse.collapse(aria-labelledby='outlineaccordionthree' data-bs-parent='#outlineaccordion')
                                                    .accordion-body
                                                        p   
                                                            | The web design process allows designers to adjust to any preferences and provide effective solutions. There are many standard components of every web design, including:
                                                            br
                                                            |--> Layout  
                                                            br
                                                            |--> Images   
                                                            br
                                                            |--> Visual hierarchy
                                                            br  
                                                            |--> Color scheme
                                                            br
                                                            |--> Typography
                                                            br
                                                            |--> Navigation
                                                            br
                                                            |--> Readability
                                                            br
                                                            |--> Content          
                            .col-md-6.col-sm-12.mb-3
                                .card
                                    .card-header
                                        h3 Horizontal Accordion           
                                        p.f-m-light.mt-1.mb-0 
                                            | Add the 
                                            code .collapse-horizontal
                                            |  modifier class to transition the width instead of height and set a width on the immediate child element.
                                    .card-body
                                        .common-flex
                                            button.btn.btn-secondary(type='button' data-bs-toggle='collapse' data-bs-target='#collapseWidthExample' aria-expanded='false' aria-controls='collapseWidthExample')
                                                | Toggle width collapse
                                        .row 
                                            .col-sm-5
                                                #collapseWidthExample.collapse.collapse-horizontal.mt-3
                                                    .card.card-body.bg-secondary-light.accordion-h-space.mb-0
                                                        | The collapse plugin also supports horizontal collapsing. Add the .collapse-horizontal modifier class to transition the width instead of height and set a width on the immediate child element. Feel free to write your own custom Sass, use inline styles, or use our width utilities.
                            .col-md-6.col-sm-12.mb-3
                                .card
                                    .card-header
                                        h3 Collapse Accordion  
                                        p.f-m-light.mt-1.mb-0 
                                            | Use a link with the href attribute  
                                            code (and a role="button"). 
                                            | In both cases, the 
                                            code data-bs-toggle="collapse"  
                                            | is required.      
                                    .card-body      
                                        p.common-flex
                                            a.btn.btn-dark(data-bs-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
                                                | Link with href
                                            button.btn.btn-dark(type='button' data-bs-toggle='collapse' data-bs-target='#collapseExample' aria-expanded='false' aria-controls='collapseExample').
                                                | Button with data-bs-target
                                        #collapseExample.collapse.btn-dark
                                            .card.card-body.mb-0.dark-accordion.text-white
                                                | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            include ../../components/footer     
        include ../../components/footer-files                            