-var sidebar    = true;
include ../../components/mixin

doctype html
html(lang='en')
    include ../../components/header-files
    body
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h3
                                        | According
                                .col-6
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                            a(href='index.html')     
                                                i.iconly-Home.icli
                                        li.breadcrumb-item Ui Kits
                                        li.breadcrumb-item.active According
                    // Container-fluid starts
                    .container-fluid
                        .row.g-3
                            .col-sm-12.col-xl-6
                                .card 
                                    .card-header
                                        h4 Simple Accordion
                                        p.f-m-light.mt-1.mb-0.mb-0
                                            | Click the accordions below to expand/collapse the accordion content.
                                            | Use the 
                                            code .accordion 
                                            | .
                                    .card-body  
                                        #accordionExample.accordion.dark-accordion
                                            .accordion-item
                                                h2#headingOne.accordion-header
                                                    button.accordion-button.collapsed.accordion-light-primary.text-primary.active(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                                        | What do web designers do?
                                                        i.iconly-Arrow-Down-2.icli
                                                #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')    
                                                    .accordion-body
                                                        p
                                                            | Web design
                                                            em.text-danger  identifies the goals
                                            .accordion-item.accordion-wrapper
                                                h2#headingTwo.accordion-header
                                                    button.accordion-button.collapsed.accordion-light-primary.text-primary(type='button' data-bs-toggle='collapse' data-bs-target='#left-collapseTwo' aria-expanded='false' aria-controls='left-collapseTwo')
                                                        | What is the use of web design?   
                                                        i.iconly-Arrow-Down-2.icli  
                                                #left-collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                                                    .accordion-body
                                                        p
                                                            strong  Search engine optimization:
                                                            |  Search engine optimization (SEO) is a method for improving the chances for a website to be found by search engines. Web design codes information in a way that search engines can read it. It can boost business because the site shows up on the top search result pages, helping people to find it.
                                                            br
                                                            br     
                                                            strong  Mobile responsiveness:
                                                            |  Mobile responsiveness is the feature of a website that allows it to display on a mobile device and adapt its layout and proportions to be legible. Web design ensures sites are easy to view and navigate from mobile devices. When a website is well-designed and mobile-responsive, customers can reach the business with ease.
                                                            br
                                                            br
                                                            strong  Improved sales:
                                                            | Increasing the number of items sold or acquiring more active customers are objectives of a compelling website. As web design reaches targeted customers and search engines, it helps the business make conversions on their site and improve its sales.
                                            .accordion-item.accordion-wrapper
                                                h2#headingThree.accordion-header
                                                    button.accordion-button.collapsed.accordion-light-primary.text-primary(type='button' data-bs-toggle='collapse' data-bs-target='#left-collapseThree' aria-expanded='false' aria-controls='left-collapseThree')
                                                        | What are the elements of web design?
                                                        i.iconly-Arrow-Down-2.icli 
                                                #left-collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                                                    .accordion-body
                                                        p
                                                            | The web design process allows designers to adjust to any preferences and provide effective solutions. There are many standard components of every web design, including:
                                                            br
                                                            |--> Layout
                                                            br
                                                            |--> Images
                                                            br
                                                            |--> Visual hierarchy
                                                            br
                                                            |--> Color scheme
                                                            br
                                                            |--> Typography
                                                            br
                                                            |--> Navigation
                                                            br
                                                            |--> Readability
                                                            br
                                                            |--> Content
                            //- .col-md-6.col-sm-12.mb-3
                            //-     .card
                            //-         .card-header    
                            //-             h4 Horizontal Accordion
                            //-             p.f-m-light.mt-1.mb-0
                            //-                 | Add the
                            //-                 code .collapse-horizontal
                            //-                 |  modifier class to transition the width instead of height and set a width on the immediate child element.
                            //-         .card-body
                            //-             .common-flex
                            //-                 button.btn.btn-secondary(type='button' data-bs-toggle='collapse' data-bs-target='#collapseWidthExample' aria-expanded='false' aria-controls='collapseWidthExample')
                            //-                     | Toggle width collapse
                            //-             .row 
                            //-                 .col-sm-5
                            //-                     #collapseWidthExample.collapse.collapse-horizontal.mt-3     
                            //-                         .card.card-body.bg-secondary-light.accordion-h-space.mb-0
                            //-                             | The collapse plugin also supports horizontal collapsing. Add the .collapse-horizontal modifier class to transition the width instead of height and set a width on the immediate child element. Feel free to write your own custom Sass, use inline styles, or use our width utilities.
                            //- .col-md-6.col-sm-12.mb-3
                            //-     .card
                            //-         .card-header
                            //-             h4 Collapse Accordion
                            //-             p.f-m-light.mt-1.mb-0
                            //-                 | you can also use a link with the href attribute
                            //-                 code (and a role="button").
                            //-                 | In both cases, the
                            //-                 code data-bs-toggle="collapse"
                            //-                 | is required.
                            //-         .card-body
                            //-             p.common-flex
                            //-                 a.btn.btn-dark(data-bs-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')                       
                            //-                     | Link with href
                            //-                 button.btn.btn-dark(type='button' data-bs-toggle='collapse' data-bs-target='#collapseExample' aria-expanded='false' aria-controls='collapseExample')
                            //-                     | Button with data-bs-target
                            //-             #collapseExample.collapse.btn-dark
                            //-                 .card.card-body.mb-0.dark-accordion
                            //-                     | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.      

            include ../../components/footer
        include ../../components/footer-files                        