- var apex                  = true;
- var page_apex             = true;
- var config               = true; 
- var sidebar               = true;   
include ../../components/mixin

doctype html
html(lang='en')
    include ../../components/header-files
    body
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar    
                .page-body   
                    .container-fluid
                        .page-title   
                            .row
                                .col-6
                                    h2   
                                        | Apex chart 
                                .col-6
                                    ol.breadcrumb
                                        li.breadcrumb-item 
                                            a(href='index.html')   
                                                i.iconly-Home.icli
                                        li.breadcrumb-item Charts 
                                        li.breadcrumb-item.active Apex chart      
                    // Container-fluid starts 
                    .container-fluid
                        .row 
                            .col-sm-12.col-xl-6.box-col-6
                                .card
                                    .card-header       
                                        h3     
                                            | Basic Area Chart 
                                    .card-body    
                                        #basic-apex  
                            .col-sm-12.col-xl-6     
                                .card  
                                    .card-header 
                                        h3    
                                            | Funnel  
                                    .card-body 
                                        #chart  
                            .col-sm-12.col-xl-6 
                                .card 
                                    .card-header 
                                        h3 
                                            |   Line chart 
                                    .card-body 
                                        #chart1        
                            .col-sm-12.col-xl-6 
                                .card 
                                    .card-header 
                                        h3 
                                            | Basic Bar 
                                    .card-body 
                                        #chart2  
                            .col-sm-12.col-xl-6 
                                .card     
                                    .card-header 
                                        h3 
                                            | Bubble chart 
                                    .card-body 
                                        #chart3
                            .col-sm-12.col-xl-6 
                                .card 
                                    .card-header 
                                        h3 
                                            | Missing chart
                                    .card-body 
                                        #missing-chart
                            .col-sm-12.col-xl-6 
                                .card 
                                    .card-header 
                                        h3 
                                            | Riskfactor chart 
                                    .card-body 
                                        #riskfactorchart(class="riskchart")
                            .col-sm-12.col-xl-6 
                                .card 
                                    .card-header 
                                        h3 
                                            | Donut update 
                                    .card-body 
                                        .chart-wrap
                                            #donut1
                                        .actions  
                                            button#add Add
                                            button#remove Remove 
                                            button#randomize Randomize
                                            button#reset Reset
                            .col-sm-12.col-xl-6 
                                .card
                                    .card-header 
                                        h3 
                                            | Candlestick chart 
                                    .card-body 
                                        #candlestick
                            .col-sm-12.col-xl-6 
                                .card 
                                    .card-header 
                                        h3 
                                            | bixplot scatter 
                                    .card-body 
                                        #boxplot
                include ../../components/footer
        include ../../components/footer-files  