-var sidebar    = true;
-var datatables             = true;
-var dashboard_default      = true;
include ../../components/mixin

doctype html
html(lang='en')

    include ../../components/header-files
    body
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            .page-body-wrapper  
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-sm-6.col-12
                                    h2
                                        | Basic Init
                                .col-sm-6.col-12
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                            a(href='index.html')
                                                i.iconly-Home.icli
                                        li.breadcrumb-item Tables
                                        li.breadcrumb-item.active Basic Init
                    // Container-fluid starts
                    .container-fluid
                        .row
                            .col-xl-12
                                .card.invoice-card
                                    .card-header
                                        h4 Project Overview
                                             
                                    .card-body.pt-0.relative
                                        .table-responsive.custom-scroll       
                                            table#simple.table.mb-0 
                                                thead
                                                tbody
                    
                
                include ../../components/footer
        include ../../components/footer-files 

