-var sidebar            = true; 
-var feather            = true;

include ../../components/mixin 

doctype html
html(lang='en')

    include ../../components/header-files
    body 
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            .page-body-wrapper
                include ../../components/sidebar
                .page-body  
                    .container-fluid
                        .page-title
                            .row  
                                .col-sm-6.col-12  
                                    h2
                                        | Feather Icon
                                .col-sm-6.col-12
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                            a(href='index.html')
                                                i.iconly-Home.icli
                                        li.breadcrumb-item Icons
                                        li.breadcrumb-item.active Feather icon
                    // Container-fluid starts
                    .container-fluid
                        .row.icon-main
                            .col-sm-12
                                .card   
                                    .card-header
                                        h3.f-w-700
                                            | Feather Icon 
                                    .card-body
                                        .row.icon-lists
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i(data-feather='activity')
                                                h5.mt-0.me-2 activity 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i(data-feather='airplay')
                                                h5.mt-0.me-2 airplay
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='alert-circle')
                                                h5.mt-0.me-2 alert-circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='alert-octagon')
                                                h5.mt-0.me-2 alert-octagon
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='alert-triangle')
                                                h5.mt-0.me-2 alert-triangle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='align-center')
                                                h5.mt-0.me-2 align-center
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='align-justify')
                                                h5.mt-0.me-2 align-justify
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='align-left')
                                                h5.mt-0.me-2 align-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='align-right')
                                                h5.mt-0.me-2 align-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='anchor')
                                                h5.mt-0.me-2 anchor
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i(data-feather='aperture')
                                                h5.mt-0.me-2 aperture
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='archive')
                                                h5.mt-0.me-2 archive
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-down-circle')
                                                h5.mt-0.me-2 arrow-down-circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-down-left')
                                                h5.mt-0.me-2 arrow-down-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-down-right')
                                                h5.mt-0.me-2 arrow-down-right    
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-down')
                                                h5.mt-0.me-2 arrow-down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-left-circle')
                                                h5.mt-0.me-2 arrow-left-circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i(data-feather='arrow-left')
                                                h5.mt-0.me-2 arrow-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-right-circle')
                                                h5.mt-0.me-2 arrow-right-circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-right')
                                                h5.mt-0.me-2 arrow-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-up-circle')
                                                h5.mt-0.me-2 arrow-up-circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-up-left')
                                                h5.mt-0.me-2 arrow-up-left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-up-right')
                                                h5.mt-0.me-2 arrow-up-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='arrow-up')
                                                h5.mt-0.mb-2 arrow-up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='at-sign')
                                                h5.mt-0.me-2 at-sign
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='award')
                                                h5.mt-0.me-2 award
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='bar-chart-2')
                                                h5.mt-0.me-2 bar-chart-2
                                            .col-12.col-xxl-2.col-lh-4.col-md-6.icons-item 
                                                i(data-feather='bar-chart')
                                                h5.mt-0.me-2 bar-chart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='battery-charging')
                                                h5.mt-0.me-2 battery-charging
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='battery')
                                                h5.mt-0.me-2 battery
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='bell-off')
                                                h5.mt-0.me-2 bell-off 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='bell')
                                                h5.mt-0.me-2 bell
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i(data-feather='bluetooth')
                                                h5.mt-0.me-2 bluetooth
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='bold')
                                                h5.mt-0.me-2 bold    
                                            .col-12.col-xxl-12.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='book-open')
                                                h5.mt-0.me-2 book-open
                                            .col-12.col-xxl-12.col-lg-4.col-md-6.icons-item
                                                i(data-feather='book')
                                                h5.mt-0.me-2 book
                                            .col-12.col-xxl-12.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='bookmark')
                                                h5.mt-0.me-2 bookmark
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='box')
                                                h5.mt-0.me-2 box
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='briefcase')
                                                h5.mt-0.me-2 briefcase
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='calendar')
                                                h5.mt-0.me-2 calendar
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i(data-feather='camera-off')
                                                h5.mt-0.me-2 camera-off
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                i(data-feather='camera')
                                                h5.mt-0.me-2 camera
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item
                                                i(data-feather='cast')
                                                h5.mt-0.me-2 cast
                                            .col-12.col-xxl-2.col-lg-4.col-md-6.icons-item 
                                                

            include ../../components/footer  
        include ../../components/footer-files