-var sidebar            = true; 
-var jquery            = true;

include ../../components/mixin 

doctype html
html(lang='en')
                 
    include ../../components/header-files  
    body
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            .page-body-wrapper
                include ../../components/sidebar
                .page-body  
                    .container-fluid
                        .page-title
                            .row
                                .col-6  
                                    h2
                                        | Font Awesome
                                .col-6
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                            a(href='index.html')
                                                i.iconly-Home.icli
                                        li.breadcrumb-item Icons
                                        li.breadcrumb-item.active Font Awesome
                    // Container-fluid starts
                    .container-fluid
                        .row.icon-main
                            .col-sm-12
                                .card
                                    .card-header
                                        h3.f-w-700 
                                            | Font Awesome
                                    .card-body
                                        .row.icon-lists 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-house
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-house
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-regular.fa-user
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-regular fa-user
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-brands.fa-facebook
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-brands fa-facebook 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-check
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-check
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-download
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-download
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-brands.fa-twitter
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-brands fa-twitter 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-image
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-image 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-regular.fa-image
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-regular fa-image
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-phone
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-phone
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-brands.fa-tiktok
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-brands fa-tiktok
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-brands.fa-tiktok
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-brands fa-tiktok
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-bars
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-bars
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-regular.fa-envelope
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-regular fa-envelope
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-envelope
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-envelope
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-brands.fa-linkedin
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-brands fa-linkedin
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-star
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-star
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-location-dot
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-location-dot
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-brands.fa-github
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-brands fa-github
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-music
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-music
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.fa-solid.fa-users
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-users  
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-solid.fa-heart
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-solid fa-heart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-regular.fa-heart
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-regular fa-heart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-solid.fa-arrow-right
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-solid fa-arrow-right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-brands.fa-discord
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-brands fa-discord
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-solid.fa-circle-xmark
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-solid fa-circle-xmark
                                            .col-12.col-xxl-2.col-lg-4.col-md-6 
                                                .media 
                                                    i.fa-solid.fa-bomb
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 fa-solid fa-bomb 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-solid.fa-poo
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-solid fa-poo    
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-brands.fa-youtube
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-brands fa-youtube
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-solid.fa-cloud
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-solid fa-cloud     
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-solid.fa-comment
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-solid fa-comment
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-regular.fa-comment
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-regular fa-comment
                                            .col-12.col-xxl-2.col-lg-4.col-md-6     
                                                .media 
                                                    i.fa-solid.fa-caret-up
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-solid fa-caret-up 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media 
                                                    i.fa-solid.fa-truck-fast
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-solid fa-truck-fast
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media 
                                                    i.fa-brands.fa-wordpress
                                                    .media-body.align-self-center 
                                                        h5.mt-0.me-2 fa-brands fa-wordpress

                                                        

                include ../../components/footer
        include ../../components/footer-files 

                                                