-var sidebar    = true;
include ../../components/mixin

doctype html
html(lang='en')
  include ../../components/header-files
  body
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
        include ../../components/header/header
        // Page Body Start
        .page-body-wrapper
            include ../../components/sidebar
            .page-body
                .container-fluid
                    .page-title
                        .row
                            .col-6
                                h2
                                    | Avatars
                            .col-6
                                ol.breadcrumb
                                    //- li.breadcrumb-item
                                    //-   a(href='index.html')     
                                    //-     svg.stroke-icon
                                    //-       use(href='../assets/svg/icon-sprite.svg#stroke-home')
                                    //- li.breadcrumb-item Ui Kits
                                    //- li.breadcrumb-item.active Avatars
                // Container-fluid starts      
                .container-fluid
                    .row.g-4
                        .col-12
                            .card
                                .card-header
                                    h3 Borders And Displays
                                    p.f-m-light.mt-1.mb-0
                                        | Use border utilities to add or remove an element's borders.
                                .card-body
                                    .row.g-4
                                        .col-xl-4.col-sm-6
                                            .border-wrapper.h-100.border
                                                h6.mb-3 Additive Border
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-light.border
                                                    | .border
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-light.border-top
                                                    | .border-top
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-light.border-bottom
                                                    | .border-bottom
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-light.border-end
                                                    | .border-end
                                        .col-xl-4.col-sm-6
                                            .border-wrapper.h-100.border 
                                                h6.mb-3 Subtractive Border
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-light.border.border-0
                                                    | .border-0
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-light.border.border-top-0
                                                    | .border-top-0
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-light.border.border-end-0
                                                    | .border-end-0
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-light.border.border-bottom-0
                                                    | .border-bottom-0
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-light.border.border-start-0
                                                    | .border-start-0
                                        .col-xl-4.col-sm-12
                                            .border-wrapper.h-100.border
                                                h6.mb-3 Additive Radius
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-radius.radius-wrapper.rounded
                                                    | .rounded
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-radius.radius-wrapper.rounded-top
                                                    | .rounded-top
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-radius.radius-wrapper.rounded-end
                                                    | .rounded-end
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-radius.radius-wrapper.rounded-bottom
                                                    | .rounded-bottom
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-radius.radius-wrapper.rounded-start
                                                    | .rounded-start    
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-radius.radius-wrapper.rounded-pill
                                                    | .rounded-pill
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-radius.radius-wrapper.rounded-circle
                                                    | .rounded-circle 
                        .col-12 
                            .card   
                                .card-header
                                    h3 Styles In Borders
                                    p.f-m-light.mt-1.mb-0
                                        | Use the different styles of borders like:
                                        code border radius/border-color/border-width
                                        | . Use of any components.
                                .card-body
                                    .row.g-4
                                        .col-xxl-3.col-sm-6
                                            .border-wrapper.h-100.alert-light-light.dark-helper
                                                h6.mb-3 Custom Border-radius Class
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.rounded-0.bg-light.border
                                                    span .rounded-0 
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.rounded-1.bg-light.border
                                                    span .rounded-1
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.rounded-2.bg-light.border
                                                    span .rounded-2
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.rounded-3.bg-light.border
                                                    span .rounded-3
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.rounded-4.bg-light.border
                                                    span .rounded-4
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.rounded-5.bg-light.border
                                                    span .rounded-5
                                        .col-xxl-3.col-sm-6
                                            .border-wrapper.h-100.alert-light-light.dark-helper
                                                h6.mb-3 Border Color 
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-primary.border
                                                    span .border-primary
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-secondary.border
                                                    span .border-secondary
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-success.border
                                                    span .border-success
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-danger.border
                                                    span .border-danger 
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-warning.border
                                                    span .border-warning
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-info.border
                                                    span .border-info
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-dark.border
                                                    span .border-dark
                                        .col-xxl-3.col-sm-6
                                            .border-wrapper.h-100.alert-light-light.dark-helper
                                                h6.mb-3 Border-Width
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-1.border 
                                                    span .border-1
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-2.border
                                                    span .border-2
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-3.border
                                                    span .border-3
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-4.border
                                                    span .border-4
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.border-5.border
                                                    span .border-
                                        .col-xxl-3.col-sm-6     
                                            .border-wrapper.alert-light-light.h-100.dark-helper
                                                h6.mb-3 Text Colors 
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.helper-text.border.text-primary A
                                                    span .text-primary
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.helper-text.border.text-secondary A
                                                    span .text-secondary
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.helper-text.border.text-success A
                                                    span .text-success
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.helper-text.border.text-danger A 
                                                    span .text-danger 
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.helper-text.border.text-warning A 
                                                    span .text-warning   
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.helper-text.border.text-info A 
                                                    span .text-info
                                                .d-flex.align-items-center.mb-2.gap-2 
                                                    .helper-box.helper-text.border.text-dark A 
                                                    span .text-dark
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.helper-text.border.text-light.bg-dark A 
                                                    span .text-light
                        .col-12
                            .card
                                .card-header
                                    h4 Background Colors 
                                    p.f-m-light.mt-1.mb-0
                                        | Use the 
                                        code .bg-* 
                                        | and 
                                        code .alert-light-*
                                        | colors in cuba theme.Use of any components.   
                                .card-body 
                                    .row.g-4
                                        .col-xl-4.col-sm-6
                                            .border-wrapper.h-100.border
                                                h6.mb-3 Dark Background
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-primary
                                                    | .bg-primary   
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-secondary
                                                    | .bg-secondary 
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-success
                                                    | .bg-success
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-danger  
                                                    | .bg-danger
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-warning
                                                    | .bg-warning
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-info
                                                    | .bg-info
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-dark
                                                    | .bg-dark
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.bg-light
                                                    | .bg-light
                                        .col-xl-4.col-sm-6
                                            .border-wrapper.h-100.border
                                                h6.mb-3 Light Backgrounds
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.alert-light-primary
                                                    | .alert-light-primary
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.alert-light-secondary                             
                                                    | .alert-light-secondary
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.alert-light-success
                                                    | .alert-light-success
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.alert-light-danger
                                                    | .alert-light-danger
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.alert-light-warning
                                                    | .alert-light-warning
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.alert-light-info
                                                    | .alert-light-info
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.alert-light-dark
                                                    | .alert-light-dark
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.alert-light-light
                                                    | .alert-light-light
                                        .col-xl-4.col-sm-12  
                                            .border-wrapper.h-100.border
                                                h6.mb-3 Extended Background Colors
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.light-card
                                                    | .light-card
                                                .d-flex.align-items-center.mb-2.gap-2
                                                    .helper-box.light-background.border
                                                    | .light-background
                        .col-12 
                            .card
                                .card-header
                                    h4 Border Color
                                    p.f-m-light.mt-1.mb-0
                                        | Use the 
                                        code .b-*/.b-t-*/.b-b-*/.b-l-*/.b-r-*
                                        | class for borders.
                                .card-body
                                    .gradient-border
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-primary.border.fill-wrapper
                                            | .border-primary
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-top.border-primary.fill-wrapper
                                            | .border-top
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-bottom.border-primary.fill-wrapper
                                            | .border-bottom
                                        .d-flex.align-items-center.mb-2.gap-2   
                                            .helper-box.border-start.border-primary.fill-wrapper
                                            | .border-start  
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-end.border-primary.fill-wrapper 
                                            | .border-end           
                                        .d-flex.align-items-center.mb-2.gap-2          
                                            .helper-box.border-secondary.border.fill-wrapper
                                            | .border-secondary
                                        .d-flex.align-items-center.mb-2.gap-2 
                                            .helper-box.border-top.border-secondary.fill-wrapper
                                            | .border-top
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-bottom.border-secondary.fill-wrapper
                                            | .border-bottom
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-start.border-secondary.fill-wrapper
                                            | .border-start
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-end.border-secondary.fill-wrapper
                                            | .border-end
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-success.border.fill-wrapper
                                            | .border-success
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-top.border-success.fill-wrapper
                                            | .border-top
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-bottom.border-success.fill-wrapper
                                            | .border-bottom
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-start.border-success.fill-wrapper
                                            | .border-start
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-end.border-success.fill-wrapper
                                            | .border-end
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-danger.border.fill-wrapper
                                            | .border-danger
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-top.border-danger.fill-wrapper
                                            | .border-top
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-bottom.border-danger.fill-wrapper
                                            | .border-bottom
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-start.border-danger.fill-wrapper
                                            | .border-start
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-end.border-danger.fill-wrapper
                                            | .border-start
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-warning.border.fill-wrapper
                                            | .border-warning
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-top.border-warning.fill-wrapper
                                            | .border-top
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-bottom.border-warning.fill-wrapper
                                            | .border-bottom
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-start.border-warning.fill-wrapper
                                            | .border-start
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-end.border-warning.fill-wrapper
                                            | .border-end 
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-info.border.fill-wrapper
                                            | .border-info 
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-top.border-info.fill-wrapper
                                            | .border-top
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-bottom.border-info.fill-wrapper
                                            | .border-bottom
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-start.border-info.fill-wrapper
                                            | .border-start
                                        .d-flex.align-items-center.mb-2.gap-2
                                            .helper-box.border-end.border-info.fill-wrapper
                                            | .border-end
                        .col-xl-6
                            .card.height-equal
                                .card-header
                                    h4 Images Sizes
                                    p.f-m-light.mt-1.mb-0 
                                        | Use the width and height of images class like:
                                        code .img-*
                                        | and
                                        code .img-h-*
                                        | .
                                .card-body
                                    .gradient-border.gap-3
                                        img.img-10.img-h-10(src='../assets/images/avatars/1.jpg', alt='img-size-10')
                                        img.img-20.img-h-20(src='../assets/images/avatars/1.jpg', alt='img-size-20')
                                        img.img-30.img-h-30(src='../assets/images/avatars/1.jpg', alt='img-size-30') 
                                        img.img-40.img-h-40(src='../assets/images/avatars/1.jpg', alt='img-size-40')
                                        img.img-50.img-h-50(src='../assets/images/avatars/1.jpg', alt='img-size-50') 
                                        img.img-60.img-h-60(src='../assets/images/avatars/1.jpg', alt='img-size-60')
                                        img.img-70.img-h-70(src='../assets/images/avatars/1.jpg', alt='img-size-70')  
                                        img.img-80.img-h-80(src='../assets/images/avatars/1.jpg', alt='img-size-80')
                                        img.img-90.img-h-90(src='../assets/images/avatars/1.jpg', alt='img-size-90')
                                        img.img-100.img-h-100(src='../assets/images/avatars/1.jpg', alt='img-size-100')
                        .col-xl-6
                            .card.height-equal
                                .card-header
                                    h4 Font-Style
                                    p.f-m-light.mt-1.mb-0
                                    | Use the font-style like: 
                                    code  .f-s-* [normal/italic/oblique/initial/inherit]
                                    | .
                                .card-body
                                    p.fw-normal
                                        | This is a .f-s-normal font-style
                                    p.fst-italic
                                        | This is a .f-s-italic font-style
                                    p.f-s-oblique
                                        | This is a .f-s-oblique font-style
                                    p.f-s-initial
                                        | This is a .f-s-initial font-style
                                    p.f-s-inherit
                                        | This is a .f-s-inherit font-style
                        .col-xl-6
                            .card.height-equal
                                .card-header
                                    h4 Font Weight 
                                    p.f-m-light.mt-1.mb-0
                                        | Use the font-weight classes like:
                                        code .f-w-* [100/300/400/600/700/900]
                                .card-body  
                                    .d-flex.align-items-center.mb-2.gap-2   
                                        .f-w-100
                                            | You can set light font weight heading .f-w-100
                                    .d-flex.align-items-center.mb-2.gap-2
                                        .f-w-300
                                            | You can set light font weight heading .f-w-300
                                    .d-flex.align-items-center.mb-2.gap-2
                                        .f-w-400
                                            | You can set light font weight heading .f-w-400
                                    .d-flex.align-items-center.mb-2.gap-2
                                        .f-w-600
                                            | You can set bolder font weight heading .f-w-600
                                    .d-flex.align-items-center.mb-2.gap-2
                                        .f-w-700
                                            | You can set bold font weight heading .f-w-700
                                    .d-flex.align-items-center.mb-2.gap-2
                                        .f-w-900
                                            | You can set bold font weight heading .f-w-900
                        .col-xl-6
                            .card.height-equal
                                .card-header
                                    h4 Text Colors
                                    p.f-m-light.mt-1.mb-0
                                        | Use the text color for            
                                        code .font-*
                                        |  class.
                                .card-body
                                    .d-flex.align-items-center.mb-2.gap-2
                                    .font-primary
                                        | This is a font-primary text used class as .font-primary
                                    .d-flex.align-items-center.mb-2.gap-2
                                    .font-secondary
                                        | This is a font-secondary text used class as .font-secondary
                                    .d-flex.align-items-center.mb-2.gap-2
                                    .font-success
                                        | This is a font-success text used class as .font-success
                                        .d-flex.align-items-center.mb-2.gap-2
                                    .font-warning
                                        | This is a font-warning text used class as .font-warning
                                    .d-flex.align-items-center.mb-2.gap-2
                                    .font-danger
                                        | This is a font-danger text used class as .font-danger
                                    .d-flex.align-items-center.mb-2.gap-2
                                    .font-info
                                        | This is a font-info text used class as .font-info
                                    .d-flex.align-items-center.mb-2.gap-2
                                    .font-dark
                                        | This is a font-dark text used class as .font-dark
                        .col-12.mb-4
                            .card
                                .card-header
                                    h4 Font Sizes
                                    p.f-m-light.mt-1.mb-0
                                        | Use the font-size for
                                        code .f-* [14/16/18/20/22/24/26/28/30/32/34/36/38/40]
                                        | .
                                .card-body
                                    .gradient-border
                                        .font-wrapper.border
                                            .fs-6
                                                | Font-size .fs-6
                                        .font-wrapper.border    
                                            .fs-5
                                                | Font-size .fs-5
                                        .font-wrapper.border
                                            .fs-4
                                                | Font-size .fs-4
                                        .font-wrapper.border
                                            .fs-3
                                                | Font-size .fs-3
                                        .font-wrapper.border
                                            .fs-2
                                                | Font-size .fs-2
                                        .font-wrapper.border
                                            .fs-1
                                                | Font-size .fs-1
        include ../../components/footer   