-var sidebar            = true; 
-var iconCopy           = true;

include ../../components/mixin 

doctype html
html(lang='en')

    include ../../components/header-files  
    body
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            .page-body-wrapper
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6  
                                    h2
                                        | Iconly Icon 
                                .col-6
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                            a(href='index.html')
                                                i.iconly-Home.icli
                                        li.breadcrumb-item Icons
                                        li.breadcrumb-item.active Iconly Icon 
                    // Container-fluid starts
                    .container-fluid
                        .row.icon-main
                            .col-sm-12
                                .card
                                    .card-header
                                        h3.m-b-0.f-w-700 Iconly Icons  
                                    .card-body
                                        .row.icon-lists 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Activity.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Activity
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Add-User.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Add-User
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Down.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Down-2.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Down-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Down-3.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Down-3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Down-Circle.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Down-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Down-Square.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Down-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Left.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Left
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Left-2.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Left-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Left-3.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Left-3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Left-Circle.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Left-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Left-Square.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Left-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Right.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Right
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Right-2.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Right-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Right-3.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Right-3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Right-Circle.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Right-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Up.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6   
                                                .media
                                                    i.iconly-Arrow-Up-2.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Up-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Up-3.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Up-3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Arrow-Up-Circle.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Arrow-Up-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Bag.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Bag
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Bag-2.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Bag-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Bookmark.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Bookmark
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Buy.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Buy
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Calendar.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Calendar
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Call.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Call
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Call-Missed.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Call-Missed
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Call-Silent.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Call-Silent
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Calling.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Calling
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Camera.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Camera 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Category.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Category
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Chart.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Chart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Chat.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Chat 
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Close-Square.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Close-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Danger.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Danger
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Delete.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Delete
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Discount.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Discount
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Discovery.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Discovery
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Document.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Document
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Download.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Download
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Edit.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Edit
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Edit-Square.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Edit-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Filter.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Filter
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Filter-2.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Filter-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Folder.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Folder
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Game.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Game
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Graph.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Graph
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Heart.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Heart
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Hide.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Hide
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Home.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Home
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Image.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Image
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Image-2.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Image-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Info-Circle.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Info-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Info-Square.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Info-Square    
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Location.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Location
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Lock.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Lock
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Login.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Login   
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Logout.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Logout
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Message.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Message
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-More-Circle.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 More-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-More-Square.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 More-Square   
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Notification.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Notification
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Paper.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Paper
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Paper-Download.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Paper-Download   
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Paper-Fail.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Paper-Fail
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Paper-Negative.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Paper-Negative
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Paper-Plus.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Paper-Plus
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Paper-Upload.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Paper-Upload
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Password.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Password
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Play.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Play
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Plus.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Plus
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Profile.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Profile
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Scan.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Scan
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Search.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Search
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Send.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Send
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Setting.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Setting
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Shield-Done.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Shield-Done
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Shield-Fail.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Shield-Fail
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Show.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Show
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Star.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Star
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Swap.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Swap
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Tick-Square.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Tick-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Ticket.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Ticket
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Ticket-Star.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Ticket-Star
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Time-Circle.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Time-Circle
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Time-Square.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Time-Square
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Unlock.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Unlock
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Upload.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Upload
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-User2.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 User2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-User3.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 User3
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Video.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Video
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Voice.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Voice
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Voice-2.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Voice-2
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Volume-Down.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Volume-Down
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Volume-Off.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Volume-Off
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Volume-Up.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Volume-Up
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Wallet.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Wallet
                                            .col-12.col-xxl-2.col-lg-4.col-md-6
                                                .media
                                                    i.iconly-Work.icli
                                                    .media-body.align-self-center
                                                        h5.mt-0.me-2 Work
                                           

                include ../../components/footer
        include ../../components/footer-files 

                                                        