-var sidebar    = true;
include ../../components/mixin

doctype html
html(lang='en') 
    include ../../components/header-files
    body
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-sm-6.col-12
                                    h2
                                        | Tag pills
                                .col-sm-6.col-12
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                            a(href='index.html')     
                                                i.iconly-Home.icli
                                        li.breadcrumb-item Ui Kits   
                                        li.breadcrumb-item.active Tag pills
                    // Container-fluid starts
                    .container-fluid
                        .row 
                            .col-sm-12.col-xl-6   
                                .card
                                    .card-header
                                        h3 Badges
                                        p.mt-1.mb-0
                                            | Use the  
                                            code .badge 
                                            | utility class to make more badges.
                                    .card-body
                                        .badge-spacing
                                            span.badge.badge-primary Primary
                                            span.badge.badge-secondary Secondary        
                                            span.badge.badge-success Success
                                            span.badge.badge-info Info
                                            span.badge.badge-warning Warning
                                            span.badge.badge-danger Danger    
                                            span.badge.badge-light.text-dark Light  
                                            span.badge.badge-dark Dark
                            .col-sm-12.col-xl-6
                                .card
                                    .card-header
                                        h3 Pills
                                        p.mt-1.mb-0 
                                            | Use the  
                                            code .rounded-pill  
                                            | class to make badges more rounded pills on badges.
                                    .card-body 
                                        .badge-spacing
                                            span.badge.rounded-pill.badge-primary Primary 
                                            span.badge.rounded-pill.badge-secondary Secondary      
                                            span.badge.rounded-pill.badge-success Success       
                                            span.badge.rounded-pill.badge-info Info
                                            span.badge.rounded-pill.badge-warning Warning
                                            span.badge.rounded-pill.badge-danger Danger
                                            span.badge.rounded-pill.badge-light.text-dark Light
                                            span.badge.rounded-pill.badge-dark Dark
                            .col-sm-12.col-xl-6
                                .card
                                    .card-header
                                        h3 Number Badges
                                        p.mt-1.mb-0 
                                            | Use numbers as a badge with the help of 
                                            code .badge
                                            |  class.
                                    .card-body
                                        .badge-spacing    
                                            a.badge.badge-primary(href='#') 1
                                            a.badge.badge-secondary(href='#') 2
                                            a.badge.badge-success(href='#') 3   
                                            a.badge.badge-info(href='#') 4
                                            a.badge.badge-warning(href='#') 5   
                                            a.badge.badge-danger(href='#') 6
                                            a.badge.badge-light.text-dark(href='#') 7
                                            a.badge.badge-dark(href='#') 8        
                            .col-sm-12.col-xl-6    
                                .card
                                    .card-header
                                        h3 Number Pills   
                                        p.mt-1.mb-0
                                            | Set rounded pill with number using 
                                            code .rounded-circle
                                            |  class.
                                    .card-body
                                        .badge-spacing
                                            a.badge.rounded-circle.badge-primary(href="#") 1   
                                            a.badge.rounded-circle.badge-secondary(href="#") 2
                                            a.badge.rounded-circle.badge-success(href="#") 3     
                                            a.badge.rounded-circle.badge-info(href="#") 4      
                                            a.badge.rounded-circle.badge-warning(href="#") 5
                                            a.badge.rounded-circle.badge-danger(href="#") 6
                                            a.badge.rounded-circle.badge-light.text-dark(href="#") 7
                                            a.badge.rounded-circle.badge-dark(href="#") 8
                            .col-sm-12.col-xl-6
                                .card   
                                    .card-header 
                                        h3 Icon With Badge   
                                        p.mt-1.mb-0 
                                            | Use icons with the help of 
                                            code .badge 
                                            | class.
                                    .card-body
                                        .badge-spacing
                                            a.badge.badge-primary.text-light(href='#')              
                                                i.fa-light.fa-dollar-sign  
                                            a.badge.badge-secondary(href='#')
                                                i.fa-solid.fa-headphones-simple   
                                            a.badge.badge-success(href='#')  
                                                i.fa-solid.fa-link
                                            a.badge.badge-info(href='#')
                                                i.fa-brands.fa-github
                                            a.badge.badge-warning(href='#')  
                                                i.fa-solid.fa-award
                                            a.badge.badge-danger(href='#')
                                                i.fa-solid.fa-chart-line
                                            a.badge.badge-light.text-dark(href='#')
                                                i.fa-regular.fa-heart  
                                            a.badge.badge-dark(href='#')
                                               i.fa-regular.fa-envelope 
                            .col-sm-12.col-xl-6
                                .card
                                    .card-header
                                        h3 Icon With Pills
                                        p.mt-1.mb-0
                                            | Set rounded icons badge with help of  
                                            code .rounded-pill  
                                            | class.
                                    .card-body 
                                        .badge-spacing
                                            a.badge.rounded-circle.badge-primary(href='#')
                                                i.fa-light.fa-dollar-sign   
                                            a.badge.rounded-circle.badge-secondary(href='#')
                                                i.fa-solid.fa-headphones-simple
                                            a.badge.rounded-circle.badge-success(href='#')
                                                i.fa-solid.fa-link
                                            a.badge.rounded-circle.badge-info(href='#')
                                                i.fa-brands.fa-github
                                            a.badge.rounded-circle.badge-warning(href='#')
                                                i.fa-solid.fa-award
                                            a.badge.rounded-circle.badge-danger(href='#')
                                                i.fa-solid.fa-chart-line
                                            a.badge.rounded-circle.badge-light.text-dark(href='#')
                                                i.fa-regular.fa-heart
                                            a.badge.rounded-circle.badge-dark(href='#') 
                                                i.fa-regular.fa-envelope
                            .col-sm-12.col-xl-6.mb-lg-3.mb-0
                                .card
                                    .card-header
                                        h3 Badge Headings
                                        p.mt-1.mb-0
                                            | Set the badge with html heading h1 through h6 using 
                                            code .badge 
                                            | class.
                                    .card-body.bage-heading
                                        h1.pb-2.d-flex.gap-2.flex-wrap.align-items-center
                                            | Badge Heading 1
                                            span.badge.btn-primary Latest
                                        h2.pb-2.d-flex.gap-2.flex-wrap.align-items-center
                                            | Badge Heading 2
                                            span.badge.btn-secondary Trending
                                        h3.pb-2.d-flex.gap-2.flex-wrap.align-items-center
                                            | Badge Heading 3
                                            span.badge.btn-success Checkout
                                        h4.pb-2.d-flex.gap-2.flex-wrap.align-items-center
                                            | Badge Heading 4
                                            span.badge.btn-warning Inbox
                                        h5.pb-2.d-flex.gap-2.flex-wrap.align-items-center
                                            | Badge Heading 5
                                            span.badge.btn-danger Login
                                        h6.pb-2.d-flex.gap-2.flex-wrap.align-items-center
                                            | Badge Heading 6
                                            span.badge.btn-dark Logout
                            .col-sm-12.col-xl-6
                                .card
                                    .card-header
                                        h3 Badges With Buttons
                                        p.mt-1.mb-0
                                            |  Add icons as a badge inside the button with the help of 
                                            code .btn
                                            |  class.
                                    .card-body
                                        .badge-spacing.flex-column.align-items-start
                                            button.btn.btn-primary.d-flex.align-items-center(type='button')
                                                | Messages
                                                span.badge.rounded-circle.btn-p-space.btn-light.text-dark.ms-2
                                                    i.fa-regular.fa-envelope 
                                            button.btn.btn-secondary.d-flex.align-items-center(type='button')
                                                | notifications
                                                span.badge.rounded-circle.btn-p-space.btn-light.text-dark.ms-2
                                                    i.fa-regular.fa-bell    
                                            button.btn.btn-success.d-flex.align-items-center(type='button')
                                                | Update available
                                                span.badge.rounded-circle.btn-p-space.btn-light.text-dark.ms-2
                                                    i.fa-solid.fa-gear
                                            button.btn.btn-info.d-flex.align-items-center.text-light(type='button')
                                                | Playing Now 
                                                span.badge.rounded-circle.btn-p-space.btn-light.text-dark.ms-2
                                                    i.fa-solid.fa-music
                                           
            include ../../components/footer
        include ../../components/footer-files     