-var sidebar    = true;
-var tooltip    = true;
include ../../components/mixin

doctype html
html(lang='en')
    include ../../components/header-files
    body
        // page-wrapper Start
        #pageWrapper.page-wrapper.compact-wrapper
            include ../../components/header/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-title
                            .row
                                .col-6
                                    h2
                                        | Tooltip
                                .col-6
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                            a(href='index.html')
                                                i.iconly-Home.icli
                                        li.breadcrumb-item Ui Kits
                                        li.breadcrumb-item.active Tooltip
                    // Container-fluid starts
                    .container-fluid
                        .row
                            .col-sm-12
                                .card
                                    .card-header
                                        h3 Basic Tooltip
                                        p.mt-1.mb-0
                                            | Use 
                                            code data-bs-toggle="tooltip"
                                            |  to set the tooltip.
                                    .card-body
                                        button.example-popover.btn.btn-primary.mb-0.me-0(type='button', data-container='body', data-bs-toggle='tooltip', data-bs-placement='top', title='Surprise!!! Thank you for hovering...')
                                            | It's magic please hover me... 
                                        h5.mb-1.py-4.pb-0 Inline Tooltip Content
                                        p
                                            | Here, is some content about tooltips that you can set the
                                            a.text-primary.fw-bold(data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='tooltip' data-bs-original-title='popover text')   tooltip                
                                            |   inside the content with help of tooltip and also you can add
                                            button.btn.btn-success.text-white.border-0.px-3.py-1.me-0.mb-0(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='button')
                                                | button 
                                            |  .Tooltips helps you to add more and more content. A tooltip is often used to specify extra information about something when the user moves the mouse pointer over an element
                            .col-md-6
                                .card
                                    .card-header
                                        h3 Colored Tooltip 
                                        p.mt-1.mb-0
                                            | Add 
                                            code btn- *
                                            |  class to set the colored tooltip.
                                    .card-body 
                                        .common-flex
                                            button.mb-0.me-0.btn.btn-primary(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Primary')
                                                | Primary
                                            button.mb-0.me-0.btn.btn-secondary(type=' button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Secondary')
                                                | Secondary
                                            button.mb-0.me-0.btn.btn-success(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Success')
                                                | Success
                                            button.mb-0.me-0.btn.btn-warning.text-white(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Warning')
                                                | Warning
                                            button.mb-0.me-0.btn.btn-danger(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Danger')
                                                | Danger
                            .col-md-6
                                .card 
                                    .card-header
                                        h3 Tooltip  Directions
                                        p.mt-1.mb-0 
                                            | To set different direction use  
                                            code data-bs-placement="top/right/bottom/left".
                                    .card-body
                                        .common-flex
                                            button.btn.btn-primary.mb-0.me-0(type='button', data-bs-toggle='tooltip', data-bs-placement='top', title='Tooltip on top')
                                                | Top Tooltip
                                            button.btn.btn-secondary.mb-0.me-0(type='button', data-bs-toggle='tooltip', data-bs-placement='right', title='Tooltip on right')
                                                | Right Tooltip
                                            button.btn.btn-success.mb-0.me-0(type='button', data-bs-toggle='tooltip', data-bs-placement='bottom', title='Tooltip on bottom')
                                                | Bottom Tooltip
                                            button.btn.btn-warning.mb-0.me-0.text-white(type='button', data-bs-toggle='tooltip', data-bs-placement='left', title='Tooltip on left')
                                                | Left Tooltip
                            .col-md-6
                                .card
                                    .card-header
                                        h3 HTML Elements With Tooltip 
                                        p.mt-1.mb-0
                                            | Use html element with the help of 
                                            code data-bs-title="".
                                    .card-body
                                        .common-flex.tooltip-effect
                                            button.btn.bg-primary.mb-0.me-0(type='button' data-bs-toggle='tooltip' data-bs-html='true' data-bs-placement='top' data-bs-title='<em>Thank</em> <u>you</u>')                
                                                | Notifications Received
                                            button.btn.bg-warning.mb-0.me-0.text-white(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-html='true' data-bs-title='<b>Thank</b> <em>you</em>')
                                                | Last Warning
                                            button.btn.bg-danger.mb-0.me-0(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-html='true' data-bs-title='<em>Thank</em> <u>you</u>')
                                                | It's Danger
                                            button.btn.bg-info.mb-0.me-0(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-html='true' data-bs-title='<b>Thank</b> <em>you</em>')
                                                | Coming soon
                            .col-md-6
                                .card
                                    .card-header
                                        h3 Filled Tooltip
                                        p.mt-1.mb-0
                                            | Fill the btn on the hover effect with the help of 
                                            code .btn-outline 
                                            | class
                                    .card-body.fill-tooltip
                                        .common-flex
                                            button.btn.btn-outline-primary.mb-0.me-0(type='button' data-bs-toggle='tooltip' data-bs-html='true' data-bs-placement='top' data-bs-title='Tooltip Primary')
                                                | Tooltip Primary
                                            button.btn.btn-outline-secondary.mb-0.me-0(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-html='true' data-bs-title='Tooltip Secondary')
                                                | Tooltip Secondary
                                            button.btn.btn-outline-success.mb-0.me-0(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-html='true' data-bs-title='Tooltip Success')
                                                | Tooltip Success
                                            button.btn.btn-outline-info.mb-0.me-0(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-html='true' data-bs-title='Tooltip Info')
                                                | Tooltip Info
                                                
                include ../../components/footer
        include ../../components/footer-files
