
.my-gallery{
    img{
        width: 100%;
    }
}
.grid-item{
    img {
        max-width: 100%;
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
    }
    .img-thumbnail{
        height: auto;
        border-radius: 0.25rem;
    } 
}
.comment    {
    color: rgba(var(--font-color), 1);
    font-size: italic;
}
// .animation-height{
//     .card{
//         height: 92%;
//     }
// }
// .placement-height{
//     .card{
//         height: 95%;
//     }
// }

