/**=====================
    avatars CSS start
==========================**/
.avatars {
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    gap: 15px;
    .avatar {
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        &.ratio {
            width: unset;
            img {
                width: auto;
            }
        }

        .status {
            position: absolute;
            height: 12%;
            width: 12%;
            border-radius: 100%;
            top: 12%;
            right: 4%;
        }  
    }
    .b-r-8{
        border-radius: 8px;
    }
    .b-r-30 {
        border-radius: 30px;
    }

    .b-r-35 {
        border-radius: 35px;
    }

    .b-r-25 {
        border-radius: 25px;
    }

    .b-r-15 {
        border-radius: 15px;
    }
    .img-100 {
        width: calc(75px + (100 - 75) * ((100vw - 320px) / (1920 - 320))) !important;
        height: calc(75px + (100 - 75) * ((100vw - 320px) / (1920 - 320)));
    }
    .img-90 {
        width: calc(65px + (90 - 65) * ((100vw - 320px) / (1920 - 320))) !important;
        height: calc(65px + (90 - 65) * ((100vw - 320px) / (1920 - 320)));
    }

    .img-80 {
        width: calc(55px + (80 - 55) * ((100vw - 320px) / (1920 - 320))) !important;
        height: calc(55px + (80 - 55) * ((100vw - 320px) / (1920 - 320)));
    }

    .img-70 {
        width: calc(45px + (70 - 45) * ((100vw - 320px) / (1920 - 320))) !important;
        height: calc(45px + (70 - 45) * ((100vw - 320px) / (1920 - 320)));
    }
    .img-50{
        width: 50px !important;
    }
    .img-60 {
        width: 60px !important;
    }
    .img-40 {
        width: 40px !important;
    }
}

.status-offline {
    background-color: rgba(var(--danger-color),1);
}

.status-online {
    background-color: rgba(var(--success-color),1) ;
}

.status-dnd {
    background-color: rgba(var(--warning-color),1) ;
}

.customers {
    ul {
        display: inline-block;

        li {
            img {
                border: 2px solid $white;
                transition: 0.5s;

                &:hover {
                    transform: translateY(-4px) scale(1.02);
                    transition: 0.5s;
                }
            }

            +li {
                margin-left: -7%;
            }
        }
    }

    &.avatar-group {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.avatar-showcase {
    margin-bottom: -10px;

    .avatars {
        .avatar {
            margin-bottom: 10px;
        }
    }

    .avatar-group {
        margin-bottom: 10px;
    }

    .ratio {
        >* {
            position: relative;
            top: unset;
            left: unset;
        }
    }
    .avatar-intial{
        border-radius: 50%;
        padding: 11px 18px;
    }
    .ping{
        animation: load 1.5s ease-out infinite;
    }
    @keyframes load {
        0% {
            background-color: rgba(var(--ping-success),1);
            border: 0px solid rgba(var(--ping-success),1);
       }
        50% {
            background-color: var(--white);
            border: 3px solid var(--white);
       }
        100% {
            background-color: rgba(var(--ping-light-success),1);
            border: 0px solid rgba(var(--ping-light-success),1);
       }
   }
    .avtar-icons{
        background-color: rgba(var(--primary-color),1);
        border-radius: 50%;
        padding: 15px;
        margin-right: 10px;
        i{
            font-size: 35px;
            color: var(--white);
        }
    }
}
.avtar-xxl{
    width: 90px;
    height: 90px;
}
.avtar-xl{
    width: 75px;
    height: 75px;
}
.avtar-lg{
    width: 65px;
    height: 65px;
}
.avtar-md{
    width: 58px;
    height: 58px;
}
.avtar-sm{
    width: 49px;
    height: 49px;
}
.avtar-xs{
    width: 40px;
    height: 40px;
}
.bg-light-primary{
    background-color: rgba(var(--bg-light),1);
    color: rgba(var(--primary-color),1);
}
.bg-light-secondary{
    background-color: rgba(var(--bg-light),1);
    color: rgba(var(--secondary-color),1);
}
.bg-light-danger{
   background-color: rgba(var(--bg-light),1); 
   color: rgba(var(--danger-color),1);
}

/**=====================
    avatars CSS Ends
==========================**/