/**=====================
     Badge CSS start
==========================**/

.badge-spacing {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  
    .badge {
      padding: 6px 12px;
      font-size: 12px;
  
      &.badge {
        svg {
          padding-top: 0px;
        }
      }
  
      &.rounded-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33px;
        width: 33px;
      }
  
      &+.badge {
        margin-left: 0px;
      }
  
      &.btn-p-space {
        padding: 8px 10px;
      }
    }
  }
  
  .badge {
    padding: 0.44em 0.7em;
    // font-family: $font-roboto, $font-serif;
    font-weight: 500;
  
    &+.badge {
      margin-left: 5px;
    }
  
    svg {
      width: 16px;
      height: 16px;
      padding-top: 3px;
    }
  }
@each $pill-badge-name, $pill-badge-color in (primary, rgba(var(--primary-color),1)),
(secondary, rgba(var(--secondary-color),1)), (success, rgba(var(--success-color),1)),
(danger, rgba(var(--danger-color),1)), (warning, rgba(var(--warning-color),1)),
(info, rgba(var(--info-color),1)), (light, rgba(var(--light-color),1)),(dark, rgba(var(--body-font-color),1))
{
    .pill-badge-#{$pill-badge-name} {
      background-color: $pill-badge-color;
    //   box-shadow: -0.5px 4.33px 16px 0px rgba($pill-badge-color, 0.25);
      color: rgba(var(--white),1);
      border-radius: 0;
    }
} 
@each $badge-name, $badge-color in (primary, rgba(var(--primary-color),1)),
(secondary, rgba(var(--secondary-color),1)), (success, rgba(var(--success-color),1)),
(danger, rgba(var(--danger-color),1)), (warning, rgba(var(--warning-color),1)),
(info, rgba(var(--info-color),1)), (light, rgba(var(--light-color),1)),(dark, rgba(var(--body-font-color),1))
{
    .badge-#{$badge-name} {
      background-color: $badge-color;
      color: rgba(var(--white),1);
      border-color: $badge-color;
      &:hover{
        background-color: $badge-color;
        color: rgba(var(--white),1);
      }   
    }
    
} 
  
/**=====================
    Badge CSS Ends
==========================**/