/**=====================
     buttons css start
==========================**/
.btn {
    font-size: 14px;
    font-weight: 600;
}
$colors: (
  primary: rgba(var(--primary-color),1),
  secondary: rgba(var(--secondary-color),1),
  info: rgba(var(--info-color),1), 
  success: rgba(var(--success-color),1), 
  danger: rgba(var(--danger-color),1),
  light: rgba(var(--light-color),1)
); 
@each $key, $val in $colors {
    .btn-#{$key} {
      background-color: $val;
      border: 1px solid $val;
      &:hover, &:focus,&.active ,&:active:focus, &.show {
        background-color: $val;
        border-color: $val;
      }
    }
}
@each $key, $val in $colors {
    .btn-outline-#{$key} {
      background-color: rgba(var(--white),1);
      border: 1px solid $val;
      color: $val;
      &:hover, &:focus,&.active , &:active:focus, &.show {
        background-color: $val;
        border-color: $val;
        color: rgba(var(--white),1);
      }
    }
}
.button-group{
  .btn-outline-primary, .btn-primary{
    border-radius: 30px;
  }
}
.btn-sm {
  font-size: 12px;
}
.btn-lg{
  font-size: 18px;
}

.btn-showcase {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.text-dark{
  .btn{
    &:active{
      color: rgba(var(--dark),1);
    }
  }
}
.btn-warning,.btn-outline-warning{
  &.btn{
    &:active{
      background-color: rgba(var(--warning-color),1);
      border-color: rgba(var(--warning-color),2);
    }
    &:hover{
      color: rgba(var(--light-color),1)
    }
  }
}
.btn-primary{
  &.btn{
    &.disabled{
      background-color: rgba(var(--primary-color),1);
      border-color: rgba(var(--primary-color),1);
    }
  }
}
.btn-secondary{
  &.btn{
    &.disabled{
      background-color: rgba(var(--secondary-color),1);
      border-color: rgba(var(--secondary-color),1);
    }
  }
}
.btn-light{
  &.btn{
    &.disabled{
      background-color: rgba(var(--light-color),1);
      border-color: rgba(var(--light-color),1);
    }
  }
}
.btn-outline-primary{
  &.btn{
    &.disabled{
      color: rgba(var(--primary-color),1);
      border-color: rgba(var(--primary-color),1);
    }
  }
}
.btn-outline-secondary{
  &.btn{
    &.disabled{
      color: rgba(var(--secondary-color),1);
      border-color: rgba(var(--secondary-color),1);
    }
  }
}


/**=====================
     buttons css end
==========================**/