/**=====================
     buttons css start
==========================**/
.btn {
    font-size: 14px;
    font-weight: 600;
}
$colors: (
  primary: rgba(var(--primary-color),1),
  secondary: rgba(var(--secondary-color),1),
  info: rgba(var(--info-color),1), 
  success: rgba(var(--success-color),1), 
  danger: rgba(var(--danger-color),1),
  light: rgba(var(--light-color),1)
); 
@each $key, $val in $colors {
    .btn-#{$key} {
      background-color: $val;
      border: 1px solid $val;
      &:hover, &:focus, &:active:focus, &.show {
        background-color: $val;
        border-color: $val;
      }
    }
}
@each $key, $val in $colors {
    .btn-outline-#{$key} {
      background-color: rgba(var(--white),1);
      border: 1px solid $val;
      color: $val;
      &:hover, &:focus, &:active:focus, &.show {
        background-color: $val;
        border-color: $val;
        color: rgba(var(--white),1);
      }
    }
}
.button-group{
  .btn-outline-primary, .btn-primary{
    border-radius: 30px;
  }
}
.btn-sm {
  font-size: 12px;
}
.btn-lg{
  font-size: 18px;
}

.btn-showcase {
  .btn {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  margin-bottom:-10px;
}
.large-button{
  height: unset !important;
}
/**=====================
     buttons css end
==========================**/