/**=====================
    03.  Card CSS Start
==========================**/
//Card css
.card{
    border-radius: 1.5rem;
    border: unset;
    height: 100%;
    .sub-title{
        padding-bottom: 0.75rem;
        font-size: 1.125rem;
    }
    code{
        font-size: 0.875em;
        color: rgba(var(--secondary-color),1);
        word-wrap: break-word;
    }
}
.card-header {
    background-color: $card-header-bg-color;
    padding: $card-padding;
    border-bottom: $card-border;
    position: relative;
    p{
        color: rgba(var(--font-color),1);
    }
    &:first-child{
        border-radius: 1.5rem 1.5rem 0 0; 
    }
}
.card-footer {
    background-color: rgba(var(--white),1);
    border-top: $card-border;
    padding: $card-padding;
    &:last-child{
        border-radius: 0 0 1.5rem 1.5rem; 
    }
    @include media-breakpoint-down(md) {
        padding: 10px;
    }
}
.card-body {
    padding: $card-padding;
    background-color: transparent;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
}
/**=====================
    03.  Card CSS end
==========================**/