/**=====================
     color css start
==========================**/
// circle dot 
@each $circle-name, $circle-color in (primary, $primary-color),
  (secondary, $secondary-color), (success, $success-color),
  (danger, $danger-color), (info, $info-color), (light, $light-color),(dark, var(--body-font-color))
{
  .circle-dot-#{$circle-name} {
    background-color: rgba($circle-color, 0.25);
    border-radius: 100%;
    padding: 3px;
    font-size: 5px;
    color: $circle-color;
    .circle-color{
      width: 8px;
      height: 8px;
      background-color: $circle-color;
      border-radius: 30px;
    }
  }
}
// font-color
@each $font-name, $font-color in (primary, $primary-color),
  (secondary, $secondary-color), (success, $success-color),
  (danger, $danger-color), (info, $info-color), (light, $light-color),(dark, var(--body-font-color))
{
  .font-#{$font-name} {
    color: $font-color;
  }
}
// button activity color
@each $btn-activity-name, $btn-activity-color in (primary, $primary-color),
  (secondary, $secondary-color), (success, $success-color),
  (danger, $danger-color), (info, $info-color), (light, $light-color)
  {
    .btn-activity-#{$btn-activity-name} {
      background-color: rgba($btn-activity-color, 0.1);
      border: 1px solid rgba($btn-activity-color, 0.2);
      border-radius: 30px;
      width: 32px;
      height: 32px;
      .svg-color {
            stroke: $btn-activity-color;
      }
    &:hover{
      .svg-color {
            stroke: $btn-activity-color;
      }
    }
    }
  }
// background css
@each $bg-name, $bg-color in (primary, $primary-color),
  (secondary, $secondary-color), (success, $success-color),
  (danger, $danger-color), (info, $info-color), (light, $light-color)
  {
    .bg-#{$bg-name}{
      background-color: $bg-color !important;
      color: $white;
    }
    .bg-light-#{$bg-name} {
      background-color: rgba($bg-color, 0.1);
      &:hover,
      &:focus,
      &:active:focus {
        background-color: $bg-color;
        color: $white;
      }
    }
    .activity-dot-#{$bg-name} {
      width: 14px;
      height: 14px;
      background-color: $white;
      border-radius: 100%;
      border: 3px solid $bg-color;
      position: relative;
      z-index: 1;
      min-width: 14px;
      min-height: 14px;
    }
  }
/**=====================
     color css end
==========================**/