/**=====================
     color css start
==========================**/
// font-color
@each $font-name, $font-color in (primary, rgba(var(--primary-color),1)),
  (secondary, rgba(var(--secondary-color),1)), (success, rgba(var(--success-color),1)),
  (danger, rgba(var(--danger-color),1)), (warning, rgba(var(--warning-color),1)),
  (info, rgba(var(--info-color),1)), (light, rgba(var(--light-color),1)),(dark, rgba(var(--body-font-color),1))
{
  .font-#{$font-name} {
    color: $font-color;
  }
}

// background css
@each $bg-name, $bg-color in (primary, rgba(var(--primary-color),1)),
  (secondary, rgba(var(--secondary-color),1)), (success, rgba(var(--success-color),1)),
  (danger, rgba(var(--danger-color),1)), (info, rgba(var(--info-color),1)), (light, rgba(var(--light-color),1))
  {
    .bg-#{$bg-name}{
      background-color: $bg-color !important;
      color: rgba(var(--white),1);
    }
    .bg-light-#{$bg-name} {
      background-color: $bg-color;
      &:hover,
      &:focus,
      &:active:focus {
        background-color: $bg-color;
        color: rgba(var(--white),1);
      }
    }
  }
.bg-light-primary{
  background-color: rgba(var(--primary-color),0.1);
  color: rgba(var(--primary-color),1);
  i {
    color: rgba(var(--primary-color),1);
  }
}
.bg-light-secondary{
  background-color: rgba(var(--secondary-color),0.1);
  color: rgba(var(--secondary-color),1);
  i {
    color: rgba(var(--secondary-color),1);
  }
}
.bg-light-danger{
   background-color: rgba(var(--danger-color),0.1); 
   color: rgba(var(--danger-color),1);
   i {
    color: rgba(var(--danger-color),1);
   }
}
.bg-light-success{
  background-color: rgba(var(--success-color),0.1);
  color: rgba(var(--success-color),1);
  i {
    color: rgba(var(--success-color),1);
  }
}
/**=====================
     color css end
==========================**/