.table-responsive {
    &.custom-scroll {
        overflow: auto;

        .datatable-wrapper{
            .datatable-top{
                position: absolute;
                z-index: 1;
                top: 63px;
                right: 4px;
            }
            .datatable-container{
                .datatable-table{
                    margin-top: 70px;
                }
                button{
                    &.bg-light-primary{
                        border: 1px solid rgba(var(--light-color),1);
                        width: 120px;
                    }
                }
            }
        }
    }
}
#simple{
    &.datatable-table{
            thead{
                tr{
                    th{
                        &:nth-child(3){   
                            min-width: 130px;
                        }
                        &:nth-child(5){   
                            min-width: 130px;
                        }
                        &:nth-child(2){
                            min-width: 110px;
                        }
                        &:nth-child(6){
                            min-width: 110px;
                        }
                        &:first-child{
                            min-width: 50px;
                        }
                    }  
                }
            }
    }
}