/**=====================
     form css start
==========================**/
.form-control {
    font-family: $body-font;
    font-size: $input-font-size;
    color: rgba(var(--body-font-color),1);
    font-weight: 600;
    border-radius: $input-radius;
    line-height: 17px;
    padding: $input-padding;
    &:focus {
        box-shadow: none;
    }
    @include media-breakpoint-down(sm) {
        padding: 12px;
    }
}
.input-group {
    border: 1px solid rgba(var(--shape-border),1);
    border-radius: $input-radius;
    .form-control {
        border: none;
        border-radius: 8px;
    }
    &-text {
        background: rgba(var(--white),1);
        border: none;
        border-radius: 8px;
    }
    &:focus {
        border: 1px solid rgba(var(--primary-color),1);
    }
}
.search-form {
    .input-group{
        .form-control{
            &::placeholder {
                color: rgba(var(--light-text),1); 
            }
        }
    }
}
/**=====================
     form css end
==========================**/