/**=====================
    2.17 Form-wizard CSS Start
==========================**/
/*Form Wizard One Start*/

.form-wizard {
	.tab {
		display: none;
	}

	.step {
		height: 10px;
		width: 10px;
		margin: 0 2px;
		background-color: rgba(var(--primary-color),1);
		border: none;
		border-radius: 50%;
		display: inline-block;
		opacity: 0.5;

		&.active {
			opacity: 1;
		}

		&.finish {
			background-color: rgba(var(--secondary-color),1);
		}
	}
}

/*Form Wizard One ends*/

/*Form Wizard Four Start*/
.wizard-4 {
	.action-bar {
		position: absolute;
		bottom: 50px;
		right: 50px;

		[dir="rtl"] & {
			right: unset;
			left: 50px;
		}
	}

	.action-bar {
		.btn {
			float: right;
			margin: 0 5px;
			background-color: #e3e0ff !important;
			border-color: #e3e0ff !important;
			color: rgba(var(--primary-color),1);
		}

		.buttonDisabled {
			// color: $semi-dark;
			// background-color: rgba($semi-dark, 0.05) !important;
			// border: 1px solid rgba($semi-dark, 0.05) !important;
			cursor: text;
		}

	}

	.step-container {
		background: #f8f9fe;
		position: relative;
		margin: 0;
		padding: 0;
		border: 0 solid #e8ebf2;
		overflow: hidden;
		clear: right;
		width: 70%;

		div.content {
			display: block;
			position: absolute;
			float: left;
			text-align: left;
			overflow: auto;
			z-index: 1;
			width: 100%;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			clear: both;

			.wizard-title {
				width: 450px;
				margin: 0 auto;
			}
		}
	}

	.loader {
		display: none;
	}

	.msg-box {
		position: fixed;
		display: none;
		padding: 5px 10px;
		background-color: rgba(var(--primary-color),5);
		top: 30px;
		border-radius: 5px;
		right: 60px;
		padding: 10px 20px;

		.content {
			padding: 0;
			float: left;
			padding-top: 3px;
			color: $white;
		}

		.close {
			color: $white;
			margin-left: 10px;
			opacity: 1;
			font-size: 18px;
			line-height: 1.4;
		}
	}

	ul.anchor {
		float: left;
		width: 30%;
		height: calc(100vh - 300px);
		padding: 40px 30px;
		overflow: auto;

		.disabled {
			opacity: 0.7;
			// color: $semi-dark;

			h4 {
				// background-color: rgba($semi-dark, 0.15);
			}
		}

		.logo {
			padding-bottom: 20px;
		}

		li {
			position: relative;
			display: block;
			margin: 0;
			padding: 0;
			padding-bottom: 19px;
			float: left;
			clear: both;
			width: 100%;
			box-sizing: border-box;
			z-index: 0;

			&+li {
				a {
					padding-left: 80px;

					[dir="rtl"] & {
						padding-left: unset;
						padding-right: 80px;
					}
				}
			}

			&:last-child {
				position: absolute;
				bottom: 0;
				width: auto;
				padding-bottom: 0;
				left: 9%;

				[dir="rtl"] & {
					left: unset;
					right: 9%;
				}

				img {
					height: 300px;

					@media (max-width: 1199px) {
						height: 220px;
					}
				}
			}

			h4 {
				display: inline-block;
				background-color: rgba(var(--primary-color), 0.2);
				padding: 16px 23px;
				border-radius: 100%;
				position: absolute;
				left: 0;
				top: 6px;
				width: 60px;
				display: flex;
				align-items: center;
				justify-content: center;

				[dir="rtl"] & {
					left: unset;
					right: 0;
				}
			}

			a {
				display: block;
				position: relative;
				float: left;
				margin: 0;
				padding: 10px 20px;
				width: 100%;
				box-sizing: border-box;
				text-decoration: none;
				outline-style: none;
				z-index: 1;
				font-size: 18px;

				small {
					display: block;
					font-size: 14px;
				}

				.stepNumber {
					position: relative;
					float: left;
					width: 30px;
					text-align: center;
					padding: 5px;
					padding-top: 0;
				}

				&.done {
					h4 {
						color: rgba(var(--white),1);
						background: rgba(var(--primary-color),1);

						&:before {
							font-size: 12px;
							position: absolute;
							left: 5px;
							top: -3px;
							content: "\e64c";
							font-family: 'themify';
							background-color: rgba(var(--white),1);
							color: rgba(var(--primary-color),1);
							border-radius: 15px;
							padding: 2px;
							border: 1px solid;
						}
					}
				}

				&.error {
					color: rgba(var(--gray-60),1);
					background: rgba(var(--pitch-color),1);
					border: 1px solid rgba(var(--danger-color),1);

					&:hover {
						color: rgba(var(--black),1);
					}
				}
			}
		}
	}
}


// Basic validation wizard

// Wizard
.wizard {
	max-width: 670px;
	margin: 0 auto;

	.wizard-content {
		box-shadow: unset;
		background-color: rgba(var(--white),1);
		border-radius: 5px;
	}
}


// vertical form wizard
.vertical-main-wizard {
	.header-vertical-wizard {
		padding: 10px;
		background-color: rgba(var(--body-color),1);
		height: 100%;
		text-align: unset;

		.nav-link {
			border-bottom: 1px solid rgba(var(--gray-60),1);
			border-radius: 0;
			padding: 14px;

			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	.nav-pills {
		.nav-link.active {
			background-color: transparent;
		}

		&.show {
			>.nav-link {
				background-color: transparent;
			}
		}
	}
	
	.nav-link {
		.vertical-wizard {
			display: flex;
			align-items: center;
			gap: 14px;

			.stroke-icon-wizard {
				width: 33px;
				height: 33px;
				background-color: rgba(var(--primary-color),0.3);
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				position: relative;

				i {
					margin-right: 0;
					color: rgba(var(--primary-color),1);
				}
			}

			.vertical-wizard-content {
				color: rgba(var(--primary-color),1);

				h6 {
					line-height: 1;
				}
			}
		}


		&:active,
		&.active {
			background-color: unset;

			.vertical-wizard {
				.stroke-icon-wizard {
					background-color: rgba(var(--primary-color),1);

					i {
						color: $white;
						font-size: 18px;
					}

					&::before {
						content: '';
						width: 45px;
						height: 45px;
						border-radius: 50%;
						position: absolute;
						border: 1px solid rgba(var(--primary-color),1);

					}
				}

				.vertical-wizard-content {

					h6 {
						color: rgba(var(--dark),1);
					}

					p {
						color: var(--text-gray);
					}
				}
			}
		}
	}
	.vartical-cart{
		.form-control{
			width: unset;
		}
	} 
}

//horizontal stepper new right side 
.basic-wizard {
	.stepper-horizontal {
		display: table;
		width: 100%;
		margin: 0 auto;

		.step {
			display: table-cell;
			position: relative;
			padding: 0 24px 24px 24px;
			z-index: 2;
			width: 25%;

			&:last-child .step-bar-left,
			&:last-child .step-bar-right {
				display: none;
			}

			.step-circle {
				width: 32px;
				height: 32px;
				margin: 0 auto;
				border-radius: 50%;
				text-align: center;
				line-height: 28px;
				font-size: 16px;
				font-weight: 600;
				z-index: 2;
				border: 2px solid rgba(var(--gray-60),1);
			}

			&.done {
				.step-circle {
					background-color: rgba(var(--white),1);
					border: 2px solid rgba(var(--timline-dot-line),1);
					color: rgba(var(--primary-color),1);

					&:before {
						font-family: 'FontAwesome';
						font-weight: 100;
						content: "\f00c";
					}

					* {
						display: none;
					}
				}

				.step-title {
					color: rgba(var(--timline-dot-line),1);
				}
			}

			&.editing {
				.step-circle {
					background: rgba(var(--white),1);
					border-color: rgba(var(--primary-color),1);
					color: rgba(var(--primary-color),1);
				}

				.step-title {
					color: rgba(var(--gray-60),1);
				}
			}

			.step-title {
				margin-top: 8px;
				font-size: 16px;
				font-weight: 600;
			}

			.step-title,
			.step-optional {
				text-align: center;
				color:rgba(var(--gray-60),1);
			}

			.step-optional {
				font-size: 12px;
				font-style: italic;
				color: rgba(var(--danger-color),1);
			}

			.step-bar-left,
			.step-bar-right {
				position: absolute;
				top: calc(32px - 18px);
				height: 4px;
				background-color: rgba(var(--light-semi-gray),1);
				border: solid rgba(var(--light-semi-gray),1);
				border-width: 2px 0;
			}

			.step-bar-left {
				width: calc(100% - 32px);
				left: 50%;
				margin-left: 1rem;
				z-index: -1;
			}

			.step-bar-right {
				width: 0;
				left: 50%;
				margin-left: 1rem;
				z-index: -1;
				transition: width 500ms ease-in-out;
			}

			&.done .step-bar-right {
				background-color: rgba(var(--primary-color),1);
				border-color: rgba(var(--primary-color),1);
				z-index: 3;
				width: calc(100% - 32px);
			}
		}

	}

	form {
		&.none {
			display: none;
		}

		&.block {
			display: block;
		}
	}
}

.important-validation {
	.form-label {
		span {
			color: rgba(var(--danger-color),1);
		}
	}
}

// wizard custom footer right side card
// back and next button
.select-size {
	&.form-select {
		font-size: 14px;
	}
}

.wizard-footer {
	button {
		&.disabled {
			background-color: rgba(var(--gray-200),1);
			border: none;
		}

		&.back {
			background-color: rgba(var(--warning-color),1);

		}
	}
}

// Accordion wizard option
.main-accordion {
	.accordion-item {
		margin-bottom: 25px;

		+.accordion-item {
			border-top: 1px solid rgba(var(--gray-60),1);
		}
	}

	.accordion-button:not(.collapsed) {
		color: rgba(var(--primary-color),1);
		background-color: rgba(var(--primary-color),0.5	);
	}
}

// Numbering wizard 4 section
.successful-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	img {
		width: 100px;
		height: 100px;
	}
}
.accordion-button{
	position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    text-align: left;
    background-color: #fff;
    border: 0;
	overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
	i{
		position: absolute;
		right: 20px;
	}
}
// third wizard
.inquiries-form {
	h6 {
		margin-bottom: 14px;
	}

	.choose-option {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.form-check {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// four wizard
.form-completed {
	img {
		height: 100px;
		margin: 0 auto;
		display: block;
	}

	h5 {
		text-align: center;
		margin-top: 24px;
	}
}


// Horizontal wrapper
.horizontal-wizard-wrapper {
	.main-horizontal-header {
		padding: 0 0 20px 0;

		.horizontal-options {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			gap: 14px;

			@media (max-width:1182px) {
				justify-content: flex-start;
			}

			a {
				display: flex;
				justify-content: center;
				align-items: center;

				.horizontal-wizard {
					display: flex;
					justify-content: center;
					align-items: center;
					color: rgba(var(--dark),1);
					transition: all 0.3s ease;

					.stroke-icon-wizard {
						i {
							font-size: 18px;
						}
					}
				}

				&.nav-link {

					&:active,
					&.active {
						.horizontal-wizard {
							color: rgba(var(--white),1);
							transition: all 0.3s ease;

							.stroke-icon-wizard {
								span {
									color: rgba(var(--white),1);
								}
							}
						}
					}
				}
			}

		}

		.form-check {
			margin-bottom: 0;
		}
	}
	.nav-pills{
		.nav-link{
			&.active{
				background-color: rgba(var(--primary-color),1);
			}
		}
	} 
	.bank-search {
		margin-bottom: 10px;

		@media (max-width:767px) {
			margin-bottom: 0;
		}
	}

	.bank-selection {
		padding: 10px 0 0 0;
		.form-check-input{
			background-image: unset;
		}

		.radio-wrapper {
			@media (max-width:401px) {
				justify-content: center;
			}

			li {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;

				.form-check-label {
					margin-bottom: 0;
					padding: 6px;

					img {
						height: calc(45px + (52 - 45) * ((100vw - 320px) / (1920 - 320)));
					}
				}
			}
		}
	}

	// vertical new variation design
	&.vertical-variations {
		.main-horizontal-header {
			.horizontal-options {
				gap: 12px;

				@media (max-width:1400px) {
					justify-content: flex-start;
				}

				.nav-link {
					color: rgba(var(--dark),1);

					.horizontal-wizard {
						gap: 10px;

						.stroke-icon-wizard {
							width: 30px;
							height: 30px;
							background-color: rgba(var(--primary-color),0.4);
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 6px;


							i {
								margin-right: 0;
							}


						}
					}

					&:active,
					&.active {
						background-color: unset;

						.horizontal-wizard {
							color: rgba(var(--dark), 1);

							.stroke-icon-wizard {
								background-color: rgba(var(--primary-color),1);

								i {
									margin-right: 0;
									color: rgba(var(--white),1);
								}
							}
						}
					}
				}
			}
		}

		.select-account {
			.radio-wrapper {
				li {
					padding: 20px;
					text-align: unset;
					display: flex;
					width: 100%;
					height: 75px;

					.form-check-label {
						justify-content: unset;
						display: flex;
						align-items: center;

						p {
							@media (max-width:400px) {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
.main-upgrade {
	max-width: 340px;
	margin: 0 auto;
	text-align: center;

	i {
		font-size: calc(40px + (50 - 40) * ((100vw - 320px) / (1920 - 320)));
		display: block;
		color: rgba(var(--primary-color),1);
	}

	p {
		line-height: 1.4;
	}

	.variation-box {
		display: grid;
		grid-template-columns: auto auto;
		gap: 10px;

		.selection-box {
			position: relative;
			width: 100%;
			height: 100px;
			border: 2px solid rgba(var(--primary-color),1);

			.custom--mega-checkbox {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				line-height: 25px;
				transition: .5s ease;
			}

			input {
				position: absolute;
				top: 0;
				left: 0;
				width: 160px;
				height: 100px;
				opacity: 0;
				cursor: pointer;

				&[type=checkbox]:checked~div {
					background-color: rgba(var(--primary-color),0.4);
				}
			}
		}
	}

}

// vertical options
.horizontal-wizard-wrapper {
	&.vertical-options {
		.main-horizontal-header {
			padding-bottom: 0;

			.horizontal-options {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				gap: 12px;
			}
		}
	}
}
.validation-vertical-wizard{
	&.custom-input{
		.form-check{
			.form-check-input{
				&:invalid{
					~{
						.form-check-label{
							color: rgba(var(--danger-color),1);
						}
					}
				}	
			}
		}
		
	}
	
}


// ********************************************
// form-wizard three
.authentication-options {
	.radio-wrapper {
		li {
			padding: 15px;
			display: block;
			width: 100%;
			height: 100%;

			.form-check-label {
				display: flex;
				align-items: center;
				text-align: left;
				gap: 14px;

				i {
					padding: 0;

					[dir="rtl"] & {
						padding: 0;
					}
				}

				// p {
					// color: var(--text-gray);
				// }
			}
		}
	}
	.form-check-input{
		&:checked[type=radio]{
			background-image: unset;
		}
	}
}

.main-qr-code {  
	.modal-toggle-wrapper {
		.modal-img {
			flex-direction: column;
			align-items: center;
			margin-bottom: 22px;

			@media (max-width:480px) {
				align-items: unset;
			}

			.qr-img {
				@media (max-width:480px) {
					text-align: center;
				}

				img {
					height: 100px;
					width: 100px;
				}
			}

			.qr-content {
				margin-top: 16px;

				.alert {
					align-items: unset;

					div {
						word-break: break-word;
					}
				}

				i {
					font-size: 20px;
					margin-right: 0;

				}
			}

		}

		.btn {
			display: block;
			margin: auto;
			margin-top: 12px;
		}
	}
}

.authentication-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
	text-align: center;

	img {
		height: calc(200px + (420 - 200) * ((100vw - 320px) / (1920 - 320)));
	}
	.modal-toggle-wrapper{
		@media(max-width: 768px){
			padding: unset; 
		}
	}
}



// Govo forms
.shopping-wizard {
	.shipping-form {
		.shipping-border {
			border-right: 1px solid rgba(var(--light-gray),1);

			@media (max-width:1200px) {
				border-right: unset;
			}
		}

		.shipping-options {
			display: flex;
			align-items: center;
			background-color: rgba(var(--body-color),1);
			flex-wrap: nowrap;

			@media (max-width:768px) {
				flex-direction: column;
			}

			.nav-link {
				width: 100%;

				@media (min-width:1200px) and (max-width:1920px) {
					padding: calc(8px + (8 - 8) * ((100vw - 300px) / (1920 - 300))) calc(6px + (16 - 6) * ((100vw - 300px) / (1920 - 300)));
				}

				// &:active{
				// 	background-color: rgba(var(--primary-color),1);
				// 	&.active {
				// 		background-color: rgba(var(--primary-color),1);
				// 		i {
				// 			background-color: rgba(var(--primary-color),0.5);
				// 			color: rgba(var(--primary-color),1);
				// 			transition: all 0.3s ease-in-out;
				// 		}
	
				// 		h6 {
				// 			color: rgba(var(--white),1);
				// 		}
				// 	}
				// }
				&.active{
					background-color: rgba(var(--primary-color),1);
					h6 {
						color: rgba(var(--white),1);
					}
					i {
						// background-color: rgba(var(--primary-color),0.5);
						background-color: rgba(var(--light-color),0.5);
						color: rgba(var(--primary-color),1);
						transition: all 0.3s ease-in-out;
					}
				}
				
				
			}

			.cart-options {
				display: flex;
				align-items: center;
				gap: 11px;

				i {
					font-size: 18px;
					color: rgba(var(--white),1);
					width: 40px;
					height: 40px;
					background-color: rgba(var(--primary-color),1);
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					margin: 0;
					transition: all 0.3s ease-in-out;

					@media (min-width:1200px) and (max-width:1920px) {
						font-size: calc(14px + (18 - 14) * ((100vw - 1200px) / (1920 - 1200)));
						width: calc(30px + (40 - 30) * ((100vw - 1200px) / (1920 - 1200)));
						height: calc(30px + (40 - 30) * ((100vw - 1200px) / (1920 - 1200)));
					}
				}

				h6 {
					color: rgba(var(--primary-color),1);
				}
			}

		}

		.shipping-info {
			.table {
				thead {
					th {
						&:last-child {
							text-align: end;
						}

						white-space: nowrap;
					}
				}

				tbody {
					tr {
						td {
							img {
								height: 50px;
							}

							&:last-child {
								text-align: end;
							}

							// span {
								// color: var(--text-gray);
							// }
						}

						&:last-child {
							td {
								border: 0;
							}
						}
					}
				}

				tfoot {
					font-weight: 400;

					tr {
						td {
							&:first-child {
								max-width: 370px;
							}

							white-space: nowrap;
						}

						td {
							&:last-child {
								min-width: 0;
								text-align: end;
							}
						}

						&:last-child {
							td {
								border-bottom: 0;
							}
						}
					}
				}
			}


		}

		.shipping-content {
			padding-top: 18px;

			.shipping-wizard {
				.shipping-title {
					display: flex;
					justify-content: space-between;
					align-items: center;

					>.btn {
						background: none !important;
						border: 0;
						padding: 0 28px;

						i {
							color: rgba(var(--primary-color),1);
						}
					}
				}

				.collect-address {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.card-icon {
						display: flex;
						align-items: center;
						gap: 12px;

						i {
							font-size: 16px;
							color: rgba(var(--primary-color),1);
						}
					}
				}

				.shipping-address {
					display: flex;
					flex-direction: column;
					gap: 5px;
				}
			}
			.basic-form{
				i{
					position: unset; 
					top: unset;
					right: unset;
				}
			}
		}

		.shipping-method {
			p {
				padding-left: 25px;
				// color: var(--text-gray);
			}
		}

		.proceed-next {
			transform: scaleX(-1);
		}

		.payment-info-wrapper {
			.card-wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;

				@media (max-width:768px) {
					justify-content: unset;
					align-items: flex-start;
					flex-direction: column;
				}

				img {
					height: 50px;
				}
			}

			.pay-info {
				display: block;

				>div {
					margin-bottom: 12px;
					display: flex;
					align-items: center;

					@media (max-width: 768px) {
						flex-direction: column;
						align-items: flex-start;
					}

				}
			}
		}

		.order-confirm {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 5px;

			@media (max-width:1200px) {
				margin-bottom: 18px;
			}

			img {
				height: 140px;
			}
		}
	}
	.modal-header{
		border-bottom: 1px solid rgba(var(--light-gray),1);
	}
	.modal-footer{
		border-top: 1px solid rgba(var(--light-gray),1);
	}
}

// Image upload
.avatar-upload {
	flex-direction: column;

	div:first-child {
		position: relative;
		max-width: 205px;
		margin: auto;

		.avatar-edit {
			position: absolute;
			right: 25px;
			z-index: 1;
			top: 4px;

			input {
				display: none;
			}

			label {
				display: inline-block;
				width: 35px;
				height: 35px;
				margin-bottom: 0;
				border-radius: 100%;
				// background: var(--light-bg);
				border: 1px solid transparent;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
				cursor: pointer;
				font-weight: normal;
				transition: all 0.2s ease-in-out;

				&::after {
					content: "\f040";
					font-family: 'FontAwesome';
					// color: var(--body-font-color);
					position: absolute;
					top: 10px;
					left: 0;
					right: 0;
					text-align: center;
					margin: auto;
				}
			}
		}

		.avatar-preview {
			width: 150px;
			height: 150px;
			position: relative;
			border-radius: 100%;
			border: 6px solid #F8F8F8;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
			margin: auto;

			>div {
				background-image: url('../images/avatars/1.jpg');
				width: 100%;
				height: 100%;
				border-radius: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	h6 {
		text-align: center;
		padding-top: 14px;
	}
}

// 2. Authentication
.email-verify {
	.card-wrapper {
		display: grid;
		place-content: center;

		>div {
			align-items: center;
		}

		.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	.input-group{
		.form-control{
			border: 1px solid rgba(var(--light-gray),1);
			width: unset;
			@media (max-width:420px) {
				width: 1%;			
			}
		}
		
	}
	
}

.authenticate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	span {
		&:nth-of-type(1) {
			margin-top: 12px;
		}
	}

	h4 {
		margin-bottom: 12px;
	}

	img {
		height: calc(145px + (200 - 145) * ((100vw - 320px) / (1920 - 320)));
	}

	form {
		flex-direction: column;
		text-align: center;

		.otp-generate {
			display: flex;
			gap: 12px;
			margin: 14px 0;
			justify-content: center;
		}

		.form-control {
			width: calc(25px + (35 - 25) * ((100vw - 320px) / (1920 - 320)));
			height: calc(25px + (35 - 25) * ((100vw - 320px) / (1920 - 320)));
			border-radius: 5px;
			text-align: center;
			padding: 0;
			display: block;
			min-width: 0;
		}

		div {
			display: inline-grid;
			gap: 2px;
			margin-top: 12px;
		}

	}
}
.business-horizontal{
	&.basic-form{
		i{
			position: unset; 
    		top: unset; 
    		right: unset;
    		transform: unset;  
		}
	}
}



/*Form Wizard Four Ends*/
/**=====================
   2.17 Form-wizard CSS Ends
==========================**/