/**=====================
  GRID CSS Start
==========================**/
.grid-showcase {
    margin-bottom: -10px;
  
span {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
        background-color: rgba(var(--span-color),0.7);
    }
}
  
.grid-align {

    .row {
        padding: 15px 0;
        min-height: 7rem;
    }
}
  
.grid-vertical {
    min-height: 150px;
    padding: 10px;
    color: rgba(var(--black),1);
}
/**=====================
  GRID CSS end
==========================**/