/**=====================
     15. Helper CSS start
==========================**/

.border-wrapper {
    padding: 20px;
    @include media-breakpoint-down(xl){
        padding: 15px;
    }
    @include media-breakpoint-down(sm){
        padding: 12px;
    }
    h6{
        font-weight: 600;
    }
    &.border{
        border: 1px solid rgba(var(--light-gray), 1) !important;
        border-radius: 1.5rem;
    }
    &.helper-bg{
        border-radius: 1.5rem;
    }
}


.helper-box {
    width: 40px;
    height: 40px;
    border-radius: 25%;

    &.helper-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
    }
}

.helper-radius {
    width: 60px;
    height: 30px;
}
.dark-helper{
    &.border{
        border: transparent !important;
    }
}
.fill-wrapper {
    background-color: rgba(var(--bg-light),1);
}
.bg-light{
    background-color: rgba(var(--bg-light),1) !important;
    color: rgba(var(--white),1);
}
.alert-light-light{
    background-color: rgba(var(--alert-light-light), 0.439);
}
.alert-light-primary{
    background-color: rgba(var(--primary-color),0.3);
}
.alert-light-secondary{
    background-color: rgba(var(--secondary-color),0.3);
}
.alert-light-success{
    background-color: rgba(var(--success-color),0.3);
}
.alert-light-danger{
    background-color: rgba(var(--danger-color),0.3);
}
.alert-light-warning{
    background-color: rgba(var(--warning-color),0.3);
}
.alert-light-info{
    background-color: rgba(var(--info-color),0.5);
}
.alert-light-dark{  
    background-color: rgba(var(--dark),0.1);
}
.light-card, .light-background{
    background-color: rgba(var(--light-background),0.7);
}


.gradient-border {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 1200px) {
        gap: calc(13px + (22 - 13) * ((100vw - 320px) / (1200 - 320)));
    }
}

.radius-wrapper {
    background-color: rgba(var(--light-semi-gray),1);
}

.font-wrapper {
    display: flex;
    align-items: center;
    padding: 12px 20px;
}

.img-30 {
    width: 30px;
}
  
.img-h-30 {
    height: 30px;
}
  
.img-40 {
    width: 40px;
}
  
.img-h-40 {
    height: 40px;
}
  
.img-50 {
    width: 50px;
}
  
.img-h-50 {
    height: 50px ;
}
  
.img-60 {
    width: 60px;
}
  
.img-h-60 {
    height: 60px;
}
  
.img-70 {
    width: 70px;
}
  
.img-h-70 {
    height: 70px;
}
  
.img-80 {
    width: 80px;
}
  
.img-h-80 {
    height: 80px;
}
  
.img-90 {
    width: 90px;
}
  
.img-h-90 {
    height: 90px;
}
  
.img-100 {
    width: 100px;
}
  
.img-h-100 {
    height: 100px;
}
// 

/**=====================
     15. Helper CSS end
==========================**/