.filter-cards-view {
    .job-filter {
      &:first-child {
        margin-bottom: 30px;
      }
    }
  
    .checkbox-animated {
      margin-top: 20px;
      margin-bottom: 20px;
      label{
          margin-bottom: 0.5rem;
      }

    }
}
.job-accordion{
    &.default-according{
        .card{
            .btn-link{
                border: none;
                font-size: 16px;
                font-weight: 600;
                border-bottom: 1px solid rgba(var(--light-gray),1);
            }
            + .card{
                margin-top: 30px;
            }
        } 
    }   
    @media (max-width: 1199px) {
        &.default-according{
            .card{
                .btn-link{
                    border: 1px solid rgba(var(--light-semi-gray),1)
                }
                .card-body{
                    border: 1px solid rgba(var(--light-semi-gray),1);
                    border-top: none;
                }
            } 
        } 
    }
    .card{
        margin-bottom: 30px;
    }
}
.location-checkbox{
    span{
        color: #999999;
        padding-left: 33px;
    }
    label{
        margin-bottom: 0.5rem;
    }
}
.animate-chk{
    label{
        margin-bottom: 0.5rem;
    }
}
.job-search{
    .media{
        align-items: flex-start;
        @media (max-width: 575px) {
            display: block;
            text-align: center;
            img{
                margin-bottom: 10px;
            }
            h5{
                display: unset;
                align-content: unset;
                justify-content: unset;
            }
            
        }
        p{
            margin-top: 5px;
        }
        span{
            margin-left: 5px;
        }
        .media-body{
            p{
                margin-top: 0;
                color: rgba(var(--light-gray-color),1);
            }
        } 
       
    }
    p{
        margin-top: 10px;
        line-height: 1.7;
    }
    h5{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media (max-width: 576px) {
        p{
            margin-top: 10px;
        }
    }
    .job-description{
        ul{
            list-style-type: disc;
            list-style-position: inside;
            li{
                margin-bottom: 10px;
            }
        }
    } 
}
.m-r-20{
    margin-right: 20px
}
.job-pagination{
    margin-bottom: 30px;
    nav{
        ul{
            justify-content: center;
        }
    } 
    .pagination{
        .disabled{
            cursor: not-allowed;
            opacity: 0.5;
            a{
                background-color: rgba(var(--light-semi-gray),1);
            }
        }
    }
}

.job-description{
    margin-top: 30px;
    h4{
        font-weight: 700;
    }
}