/**=====================
     39. Table  CSS Start
==========================**/

thead,
tbody,
tfoot,
tr,
td,
th {
	border-color: rgba(var(--table-double-color),1);
}

.table {
	tbody{
		tr{
			th,td{
				border-bottom: 1px solid rgba(var(--light-gray), 1);
			}
		}
	}
	margin-bottom: $table-b-margin;

	> :not(:last-child) {
		> :last-child {
			>* {
				border-bottom-color: rgba(var(--light-gray),1);
			}
		}
	}

	th,
	td {
		padding: $table-padding;
	}

	thead.bg-primary {
		tr {
			th {
				color: rgba(var(--white),1);
			}
		}
	}

	th {
		color: $table-heading-color;
		font-weight: 700;

		&.f-light {
			color: rgba(var(--chart-text-color),1);
			opacity: 0.8;
		}
	}

	td {
		color: $table-row-color;
	}

	[class*='bg-'] {
		color: rgba(var(--white),1);
	}

	.bg-light {
		color: rgba(var(--theme-body-font-color),1);
	}
}

.table[class*='bg-'] {

	th,
	td {
		color: rgba(var(--white),1);
	}
}

// Table border-bottom removes in particular typography page
.typography-table {
	tr {
		&:last-child {
			border-bottom: none;

			td {
				border-bottom: none;
			}
		}
		td{
			&:first-child{
				min-width: 100px;
			}
			&:last-child{
				min-width: 300px;
			}
		}
	}
}

.table-striped{
	thead{
		tr{
			th{
				p{
					margin-bottom: 0;
				}
			}
		}
	}
}

.table-bordered {

	thead,
	tbody,
	tfoot,
	tr,
	td,
	th {
		border-color: rgba(var(--light-text),0.3);
	}
}
.user-content{
	td, th{
		border-color:rgba(var(--light-gray), 1);
	}
}
.border-bottom-primary{
	th, td{
		border-bottom: 1px solid rgba(var(--primary-color),1) !important;
	}
}

.border-bottom-secondary{
	th, td{
		border-bottom: 1px solid rgba(var(--secondary-color),1) !important;
	}
}
.border-bottom-success{
	th, td{
		border-bottom: 1px solid rgba(var(--success-color),1) !important;
	}
}
.border-bottom-danger{
	th, td{
		border-bottom: 1px solid rgba(var(--danger-color),1) !important;	
	}
}
.border-bottom-info{
	th, td{
		border-bottom: 1px solid rgba(var(--info-color),1) !important;
	}
}

.border-bottom-warning{
	th, td{
		border-bottom: 1px solid rgba(var(--warning-color),1) !important;
	}
}

.border-bottom-light{
	th, td{
		border-bottom: 1px solid rgba(var(--white),1) !important;
	}
}
 
.basic-table{
	tr{
		vertical-align: middle;
		&:last-child{
			border-bottom: unset;
		}
	}
}
.table-inverse{
	color: rgba(var(--white),1);
    background-color: rgba(var(--dark),1);
	th, td{
		color: rgba(var(--white),1);
	}	
}
.signal-table{
	.table-hover{
		tbody{
			tr{	
				td{
					i{
						width: 26px;
						height: 26px;
						padding: 6px;
						border-radius: 4px;
					}
				}
			} 
		}
	}
}
.card-block{
	.table-responsive{
		.table{
			caption{
				padding-left: 10px;
			}	
		} 
	}
}  
.table-dark{
	th{
		color: rgba(var(--white),1);
	}
}
.bootstrap-table{
	.table{
		tbody{
			tr{
				&:last-child{
					border-bottom:rgba(var(--white),1)
				}
			}
		}	
	}
	.table-dashed{
		border-left: 2px dashed rgba(var(--light-gray),1);
		border-right: 2px dashed rgba(var(--light-gray),1);
		thead, tbody, tfoot, tr, td, th{
			border-style: dashed !important;
			border-width: 2px;
			border-right: 0;
			border-left: 0;
		}
	}
	
}
.ui-components{
	&.card-block{	
		.table-responsive{
			.table-bordered{
				td{
					vertical-align: middle;
				}
			} 
		}
	}  
	.fa-spinner{
		animation: fa-spin 2s infinite linear;
	}
	p{
		margin-bottom: 0;
	}
	.alert-primary{
		.alert-link{
			color: rgba(var(--white),1);
		}
		.btn-close{
			filter: brightness(1) invert(1);
		}
	}
	
	
}
.checkbox-solid-primary{
	&.checkbox{
		label{
			display: inline-block;
			position: relative;
			padding-left: 16px;
			cursor: pointer;
			margin-top: 10px;
			margin-bottom: 10px;
			&::before{
				content: "";
				display: inline-block;
				position: absolute;
				width: 19px;
				height: 19px;
				left: -2px;
				margin-left: -16px;
				border: 1px solid #efefef;
				border-radius: 3px;
				transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
			}
		}
		input[type=checkbox]{
			&:checked{
				+{
					label{
						&::before{
							background-color: rgba(var(--primary-color),1);
							border-color: rgba(var(--primary-color),1);
							color: #fff;
							font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
							text-align: center;
							line-height: 1.2;
						}
					}
				}
				
			}
			&:disabled{
				+{
					label{
						&::before{
							background-color: rgba(var(--light-gray),1);
    						cursor: not-allowed;
						}
					}
				} 
			} 
		}
		label{
			&:before{
				background-color: rgba(var(--primary-color),1);
				border-color: rgba(var(--primary-color),1);
				color: #fff;
			}	
		}
		// input{

		// 	display: none;
		// }
	} 
}
.m-checkbox-inline{
	.checkbox{
		display: inline-block;
		label{
			display: inline-block;
			position: relative;
			padding-left: 10px;
			cursor: pointer;
			margin-top: 10px;
			margin-bottom: 10px;
			&::before{
				content: "";
				display: inline-block;
				position: absolute;
				width: 19px;
				height: 19px;
				left: -3px;
				margin-left: -16px;
				border: 1px solid rgba(var(--light-gray),1);
				border-radius: 3px;
				background-color: rgba(var(--white),1);
				transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
			}
		}

	}
	label{
		margin-right: 20px;
	}
	.checkbox-primary{
		input[type=checkbox]{
			&:checked{
				+{
					label{
						&::before{  
							border-color: rgba(var(--primary-color),1);
							color: rgba(var(--primary-color),1);
							font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
							text-align: center;
							line-height: 1.2;
							
						}
					}
				} 
			}
		}
		label{
			&::before{
				border-color: rgba(var(--primary-color),1);
			}
		}
	}  
	.checkbox-primary{
		input[type=checkbox]{
			&:checked{
				+{
					label{
						&::before{  
							border-color: rgba(var(--primary-color),1);
							color: rgba(var(--primary-color),1);
							font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
							text-align: center;
							line-height: 1.2;
							
						}
					}
				} 
			}
		}
		label{
			&::before{
				border-color: rgba(var(--primary-color),1);
			}
		}
	}  
	.checkbox-secondary{
		input[type=checkbox]{
			&:checked{
				+{
					label{
						&::before{  
							border-color: rgba(var(--secondary-color),1);
							color: rgba(var(--secondary-color),1);
							font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
							text-align: center;
							line-height: 1.2;
							
						}
					}
				} 
			}
		}
		label{
			&::before{
				border-color: rgba(var(--secondary-color),1);
			}
		}
	}
	.checkbox-success{
		input[type=checkbox]{
			&:checked{
				+{
					label{
						&::before{  
							border-color: rgba(var(--success-color),1);
							color: rgba(var(--success-color),1);
							font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
							text-align: center;
							line-height: 1.2;
							
						}
					}
				} 
			}
		}
		label{
			&::before{
				border-color: rgba(var(--success-color),1);
			}
		}
	}    
	
} 
.checkbox-dark{
	&.checkbox{
		display: inline-block;
		label{
			display: inline-block;
			position: relative;
			padding-left: 16px;
			cursor: pointer;
			margin-top: 10px;
			margin-bottom: 10px;
			&::before{
				content: "";
				display: inline-block;
				position: absolute;
				width: 19px;
				height: 19px;
				left: -3px;
				margin-left: -16px;
				border: 1px solid rgba(var(--dark),1);
				border-radius: 3px;
				background-color: rgba(var(--white),1);
				transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
			}
		}
	}
	input[type=checkbox]{
		&:checked{
			+{
				label{
					&::before{
						border-color: rgba(var(--dark),1);
						color: rgba(var(--dark),1);
						font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
						text-align: center;
						line-height: 1.2;
					}
				}
			} 
		} 
	}
	label{
		&::before{
			border-color: rgba(var(--dark),1);
		}
	}
}
.m-squar{
	&.checkbox{
		label{
			display: inline-block;
			position: relative;
			padding-left: 16px;
			cursor: pointer;
			margin-top: 10px;
			margin-bottom: 10px;
			&::before{
				content: "";
				display: inline-block;
				position: absolute;
				width: 19px;
				height: 19px;
				left: 0;
				margin-left: -16px;
				border: 1px solid #efefef;
				background-color: #fff;
				transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
			}
		}
		input[type=checkbox]{
			opacity: 0;
		}
	} 
	input[type=checkbox]{
		&:checked{
			+{
				label{
					&::before{
						color: rgba(var(--dark),1);
						font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
						text-align: center;
						line-height: 1.2;
					}
				}
			} 
		} 
	}
	label{
		&::before{
			border-radius: 0;
		}
	}
}
.table-bordered{
	td, th, tr{
		border-color: rgba(var(--light-gray), 1)	;
	}
} 
.pills-component{
	width: 20%;
}
.badge-table{
	.badge{
		display: inline-block;
		padding: 0.44em 0.7em;
		font-size: 0.75em;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: 0.25rem;
		font-family: Roboto, sans-serif;
	}
}
.label-square{
	i{
		margin-right: 7px;
	}
	span{
		font-size: 14px;
	}
}
.card-no-border{
	&.card-header{
		border-bottom: none;
	}
}









/**=====================
     39.Table CSS Ends
==========================**/