/**=====================
     39. Table  CSS Start
==========================**/

thead,
tbody,
tfoot,
tr,
td,
th {
	border-color: rgba(var(--table-double-color),1);
}

.table {
	margin-bottom: $table-b-margin;

	> :not(:last-child) {
		> :last-child {
			>* {
				border-bottom-color: rgba(var(--light-gray),1);
			}
		}
	}

	th,
	td {
		padding: $table-padding;
	}

	thead.bg-primary {
		tr {
			th {
				color: rgba(var(--white),1);
			}
		}
	}

	th {
		color: $table-heading-color;
		font-weight: 700;

		&.f-light {
			color: rgba(var(--chart-text-color),1);
			opacity: 0.8;
		}
	}

	td {
		color: $table-row-color;
	}

	[class*='bg-'] {
		color: rgba(var(--white),1);
	}

	.bg-light {
		color: rgba(var(--theme-body-font-color),1);
	}
}

.table[class*='bg-'] {

	th,
	td {
		color: rgba(var(--white),1);
	}
}

// Table border-bottom removes in particular typography page
.typography-table {
	tr {
		&:last-child {
			border-bottom: none;

			td {
				border-bottom: none;
			}
		}
		td{
			&:first-child{
				min-width: 100px;
			}
			&:last-child{
				min-width: 300px;
			}
		}
	}
}


// .table-striped {
// 	tbody {
// 		tr {
// 			&:nth-of-type(odd) {
// 				background-color: rgba(var(--light-background),1);
// 				--bs-table-accent-bg: unset;
// 			}
// 		}
// 	}
// }

.table-bordered {

	thead,
	tbody,
	tfoot,
	tr,
	td,
	th {
		border-color: rgba(var(--light-text),0.3);
	}
}
.user-content{
	td, th{
		border-color:rgba(var(--light-gray), 1);
	}
}

/**=====================
     39.Table CSS Ends
==========================**/