.toasts-section{
    .position-relative{
        button{
            width: unset;
            height: unset;
        }
    }
}
.toast{
    .btn-close{
        width: 5px !important; 
        height: 5px !important;
    }
    // .placement-toast{
    //     .bd-example-toasts{
    //         min-height: 200px;
    //          .toast{
    //             &:not(.showing){
    //                 &:not(.show){
    //                     opacity: 1 !important;
    //                 }
    //             }
    //         }
    //     }
    // }
}
.placement-toast{
        .bd-example-toasts{
            min-height: 200px;
             .toast{
                &:not(.showing){
                    &:not(.show){
                        opacity: 1;
                        display: block;
                    }
                }
            }
        }
}
