.touchspin-wrapper{
    .btn-touchspin{
        border-radius: 5px;
        width: 32px;
        height: 32px;
    }
    input[type=number]{
        width: 85px;
        padding: 3px;
        text-align: center;
        height: 30px;
        &.spin-outline-primary{
            outline: 1px solid rgba(var(--primary-color),1);
            border: none;
            border-radius: 3px;
        }
    }
} 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.touchspin-wrapper{
    @each $touchspin-name, $touchspin-color in (primary, rgba(var(--primary-color),1)),
    (secondary, rgba(var(--secondary-color),1)), (success, rgba(var(--success-color),1)),
    (danger, rgba(var(--danger-color),1)), (warning, rgba(var(--warning-color),1)),
    (info, rgba(var(--info-color),1)), (light, rgba(var(--light-color),1)),(dark, rgba(var(--body-font-color),1))
  {
    .touchspin-#{$touchspin-name}{
            background-color: $touchspin-color;
            border: 1px solid $touchspin-color;
            color: rgba(var(--white),1);
      }
      .spin-border-#{$touchspin-name}{
        background-color: unset;
        border: 1px solid $touchspin-color;
        color: $touchspin-color;
    }
    // .spin-border-#{$touchspin-name} {
    //     background-color: unset;
    //     border: 1px solid $touchspin-color;
    //     color: $touchspin-color;
    //   }
      input[type='number'] {
        &.spin-outline-#{$touchspin-name} {
          outline: 1px solid $touchspin-color;
          border: none;
          border-radius: 3px;
        }
      }
      
  }
}

.pre-post-touchspin{
    .btn-touchspin{
        &.touchspin-primary{
            background-color: rgba(var(--primary-color),1);
            border: 1px solid rgba(var(--primary-color),1);
            color: rgba(var(--white),1);
        }
        &.touchspin-secondary{
            background-color: rgba(var(--secondary-color),1);
            border: 1px solid rgba(var(--secondary-color),1);
            color: rgba(var(--white),1);
        }
    }
    .input-group-text{
        background-color: rgba(var(--light-gray),1);
        padding: 7px 14px;
    }
    .decrement-touchspin{
        padding: 7px 14px;
    }
    .input-touchspin{
        border: 1px solid rgba(var(--light-color),1);
        border-width: 2px;
        text-align: center;  
    }
    .increment-touchspin{
        padding: 7px 14px;
    }
    .input-group{
        width: auto;
        @media (max-width : 400px) {
            .input-touchspin{
                width: 40%;
            }
        }
    }
    &.bg-touchspin{
        button[type=button]{
            border: 1px solid rgba(var(--light-color),1);
            border-width: 2px;
            text-align: center;
            padding: 1px 6px;
        }
    }                                                                                                                                                                                                                                                                                         
} 
.rounded-touchspin{
    .btn-touchspin{
        border-radius: 50%;
    }
    .touchspin-wrapper{
        input[type=number]{
            &.input-touchspin{
                border-radius: 15px;
            }
        }
    } 
}   