/**=====================
     user css start
==========================**/

.user-wrap{
    text-align: center;
    margin-top: -1.786rem;
    padding: 0 1.25rem;
    
    .user-content{
        padding: 16px 0;
        border-bottom: 1px solid rgba(var(--border-color),1);
        h5{
            font-weight: 700;
        }
        h6{
            color: rgba(var(--light-color),1);
            font-weight: 400;
        }
    }
}
.user-img{
    display: inline-block;
    position: relative;
    img{
        border-radius: 50%;
        padding: 8px 10px 0;
        background-color: rgba(var(--secondary-color),1);;
    }
    .setting-icon{
        line-height: 0;
        position: absolute;
        top: 75%;
        right: 0;
        i{
            padding: 5px;
            background-color: rgba(var(--primary-color),1);
            border-radius: 50%;
            color: rgba(var(--white),1);
            border: 1px solid rgba(var(--white),1);
            font-size: 12px;
        }
    }
}

